---
layout: default
title: 404 - Page not found
permalink: /404.html
---

<div class="not-found-page">
  {% include base/hero.html %}

  <div class="page-content">
    {% include base/header.html animated=false %}

    <div id="main" role="main" class="container">
      <h1>404. That means a dog ate this page.</h1>
      <p>I'll make sure this incident is reported to the awwwthorities.</p>

      <div class="image animated fadeInUpSmall delay-3">{% include svg-icons/404.svg %}</div>
    </div>
  </div>
</div>
