---
---

//
// IMPORTS
//

@import 'reset';
@import 'variables';

/**************/
/* BASE RULES */
/**************/

html {
  font-family: var(--default-font);
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  line-height: 1.3;
  font-size: 18px;

  @include for-tablet-landscape-up {
    font-size: 20px;
  }
}
a {
  color: var(--accent-color);

  &:hover {
    text-decoration: underline;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
}
h1 {
  font-size: 2rem;
  margin: 0 20px;
}
h2 {
  font-size: 1.5rem;
  margin: 0 20px;
}
h3 {
  font-size: 1.3rem;
  margin: 0 20px;
}
h4 {
  font-size: 1rem;
  margin: 0 20px;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
code {
  font-family: var(--mono-font);
}

.text-highlight {
  font-style: normal;
  border-radius: 1em 0 1em 0;
  text-shadow: 1px 1px 1px var(--bg-color);
  padding: 8px;
  margin-right: -8px;
  margin-left: -8px;
  background-image: linear-gradient(
    -100deg,
    rgba(var(--accent-color-rgb), 0.1),
    rgba(var(--accent-color-rgb), 0.2) 100%,
    rgba(var(--accent-color-rgb), 0.15)
  );
}
::selection {
  background-color: rgba(var(--accent-color-rgb), 0.2);
  color: var(--fg-color);
  text-shadow: none;
}
.page-content {
  max-width: 1080px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.animate-when-visible {
  opacity: 0;
}
.accent-color {
  color: var(--accent-color);
}

@include for-tablet-landscape-up {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@import 'header';
@import 'hero';
@import 'footer';
@import 'home';
@import 'card';
@import 'blog';
@import 'code';
@import 'highlights';
@import 'about-card';
@import 'swipable-cards';
@import 'not-found';
@import 'animations';
