@font-face {
	font-family: 'Ubuntu Mono';
	src: url('Ubuntu Mono/ubuntumono-bold-webfont.woff2') format('woff2'),
		url('Ubuntu Mono/ubuntumono-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('Ubuntu Mono/ubuntumono-bolditalic-webfont.woff2') format('woff2'),
		url('Ubuntu Mono/ubuntumono-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('Ubuntu Mono/ubuntumono-italic-webfont.woff2') format('woff2'),
		url('Ubuntu Mono/ubuntumono-italic-webfont.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('Ubuntu Mono/ubuntumono-regular-webfont.woff2') format('woff2'),
		url('Ubuntu Mono/ubuntumono-regular-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
