@font-face {
	font-family: 'Wotfard';
	src: url('Wotfard/wotfard-bold-webfont.woff2') format('woff2'),
		url('Wotfard/wotfard-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Wotfard';
	src: url('Wotfard/wotfard-bolditalic-webfont.woff2') format('woff2'),
		url('Wotfard/wotfard-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Wotfard';
	src: url('Wotfard/wotfard-light-webfont.woff2') format('woff2'),
		url('Wotfard/wotfard-light-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Wotfard';
	src: url('Wotfard/wotfard-lightitalic-webfont.woff2') format('woff2'),
		url('Wotfard/wotfard-lightitalic-webfont.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Wotfard';
	src: url('Wotfard/wotfard-regular-webfont.woff2') format('woff2'),
		url('Wotfard/wotfard-regular-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Wotfard';
	src: url('Wotfard/wotfard-regularitalic-webfont.woff2') format('woff2'),
		url('Wotfard/wotfard-regularitalic-webfont.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Wotfard';
	src: url('Wotfard/wotfard-semibold-webfont.woff2') format('woff2'),
		url('Wotfard/wotfard-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Wotfard';
	src: url('Wotfard/wotfard-semibolditalic-webfont.woff2') format('woff2'),
		url('Wotfard/wotfard-semibolditalic-webfont.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
