section.about {
  position: relative;

  --avatar-height: 128px;
  --side-padding: 20px;

  @include for-tablet-landscape-up {
    --avatar-height: 200px;
    --side-padding: 40px;
  }

  .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: calc((var(--avatar-height) * -1) / 2);
    position: relative;
    z-index: 2;

    img.avatar {
      max-width: 100%;
      max-height: var(--avatar-height);
      border-radius: 50%;
      box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.05) rotate(10deg);
        box-shadow: 8px 14px 38px rgba(39,44,49,0.3), 1px 3px 8px rgba(39,44,49,0.03);
      }
    }

    @include for-tablet-portrait-up {
      justify-content: flex-end;

      img.avatar {
        margin-right: calc(var(--side-padding) * 2);
      }
    }
  }

  .card {
    position: relative;
    padding-top: calc(var(--avatar-height) / 2);

    @include for-tablet-portrait-up {
      padding-top: 0;
    }

    .content {
      padding: var(--side-padding) 0;

      h3.greetings {
        font-weight: 700;
        text-align: left;
        font-size: 1.8rem;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        margin: 0;
      }

      .introduction {
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);

        @include for-tablet-portrait-up {
          padding-right: calc(var(--avatar-height) + var(--side-padding));
        }
      }

      hr {
        border: 1px solid var(--border-color);
        width: 100%;

        @include for-tablet-portrait-up {
          display: none;
        }
      }

      .info-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: var(--side-padding);
        margin-bottom: var(--side-padding);
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);

        > div {
          flex: 1 1 350px;
          display: flex;
          flex-direction: column;

          &.bullet-list {
            margin-bottom: var(--side-padding);

            ul {
              li {
                font-size: 1.2rem;
                margin-bottom: .65rem;
                height: 2.3rem;
                display: flex;
                align-items: center;

                @include for-tablet-portrait-up {
                  font-size: 1.3rem;
                }

                svg {
                  margin-right: 10px;
                  width: 2.3rem;
                  fill: var(--accent-color);
                }
              }
            }
          }

          &.buzzwords {
            .subtitle {
              font-size: 1.2rem;

              @include for-tablet-portrait-up {
                font-size: 1.3rem;
              }
            }

            ul.tags {
              gap: 5px;
            }
          }
        }

        @include for-tablet-landscape-up {
          margin-bottom: 0;
          
          > div {
            &.bullet-list {
              margin-bottom: 0;
            }
          }
        }
      }

      .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--side-padding);
        padding-bottom: calc(var(--side-padding) / 2);
  
        li {
          font-size: 0.9rem;
          padding-right: 20px;
  
          &:last-child {
            padding-right: 0;
          }
  
          a {
            color: inherit;
  
            svg {
              fill: var(--fg-color);
              height: 1.3rem;
            }
  
            &:hover {
              color: var(--accent-color);
              svg {
                fill: var(--accent-color);
              }
            }
  
            &.featured {
              border: 1px solid var(--accent-color);
            }
          }
        }

        @include for-tablet-portrait-up {
          display: none;
        }
      }
    }
  }
}
