section.hero.blog {
  h1 {
    font-size: 4rem;
    color: var(--dark-subtle-accent-color);
  }

  &.post {
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    top: 0;
  }
}

.blog-post {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.pagination {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--card-fg-color);
  background: var(--card-bg-color) 50%;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  margin: 0 auto 40px;
  padding: 12px;

  span,
  a {
    margin: 0 10px;
  }
}

.blog-post-page {
  margin-top: 30vh;

  .card {
    .content {
      article {
        p,
        ul,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: 40px 0 10px;
        }

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }

        > table {
          font-family: var(--ui-font);
          margin: 2em auto;
          max-width: 100%;

          th,
          td {
            padding: 0 0.5rem;
          }
        }

        figcaption {
          font-size: 0.85rem;
          text-align: center;
        }
      }

      h1.title {
        font-size: 1.3rem;
        margin: 0;
      }

      ol,
      ul {
        padding-left: 20px;

        li {
          margin-bottom: 10px;
        }
      }

      ul {
        list-style: inherit;

        &.tags {
          justify-content: flex-start;
          margin: 10px 0 20px;
          list-style: none;
          padding-left: 0;
        }
      }

      blockquote {
        padding-left: 10px;
        border-radius: 6px;
        font-size: 1.2rem;
        border-left: 2px solid var(--accent-color);
      }
    }
  }
}

@include for-phone-only {
  .blog-post-page {
    .card {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@include for-tablet-landscape-up {
  .blog-post-page .card .content {
    h1.title {
      font-size: 3rem;
    }
  }
}