.cards-list {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card {
  overflow: hidden;
  margin: 0 20px 40px;
  min-height: 300px;
  color: var(--card-fg-color);
  background: var(--card-bg-color) 50%;
  border-radius: 5px;
  box-shadow: var(--card-box-shadow);
  transition: all 0.5s ease;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;

  &.hoverable:hover {
    box-shadow: var(--card-box-shadow-hoverable);
  }

  .content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1.title {
      font-size: 1.3rem;
      margin: 0;
      font-weight: 600;
      display: flex;
      justify-content: space-between;

      .links {
        display: flex;
        justify-content: flex-end;

        a {
          margin-left: 10px;
          color: var(--lighter-fg-color);

          svg {
            fill: var(--lighter-fg-color);
            height: 1.7rem;
          }
  
          &:hover {
            color: var(--accent-color);
            text-decoration: none;
  
            svg {
              fill: var(--accent-color);
            }
          }
        }
      }      
    }

    .published-date {
      color: var(--lighter-fg-color);
      font-size: 16px;
    }
    .read-time {
      color: var(--lighter-fg-color);
      font-size: 16px;
      display: block;
    }

    p {
      line-height: 1.55em;
      margin: 0.75rem 0;
    }

    ul.tags {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      list-style: none;

      li {
        .tag {
          background-color: var(--subtler-accent-color);
          border-radius: 0.25em;
          color: var(--accent-color);
          border: 1px solid var(--accent-color);
          display: inline-block;
          font-size: 0.75em;
          line-height: 2em;
          margin: 0.125em;
          padding: 0 0.5em;
          text-decoration: none;

          &.secondary {
            background-color: var(--subtler-secondary-color);
            color: var(--secondary-color);
            border: 1px solid var(--secondary-color);
          }
        }
      }
    }
  }

  .image {
    background-size: cover;
    background-position: center;
    height: 240px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
  
}

@include for-tablet-landscape-up {
  .card {
    flex: 1 1 300px;

    &.medium {
      flex: 1 1 450px;
    }

    &.large {
      flex-direction: row;
      flex: 1 1 100%;

      .image {
        height: unset;
        width: 50%;
      }
    }

    .content {
      padding: 40px;
      
      h1.title {
        font-size: 1.6rem;
        word-wrap: anywhere;
        margin-bottom: 10px;
      }
    }

    .avatar-container {
      padding: 40px;
    }
  }
}
