figure {
  position: relative;

  figcaption.file-name {
    text-align: left !important;
    font-family: var(--mono-font);
    background: var(--dark-bg-color);
    color: var(--dark-subtle-accent-color);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -2px;
    padding: 5px 10px;
    position: absolute;
    left: 0px;
    top: -15px;
    z-index: 1;
  }

  &.highlight {
    display: block;
    background-color: var(--dark-bg-color);
    color: var(--dark-fg-color);
    font-family: var(--mono-font);
    font-size: 0.85em;
    line-height: 1.33em;
    border-radius: 0.25em;    
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.22);

    pre {
      padding: 30px 15px;

      overflow-x: auto;
      scrollbar-color: var(--accent-color) var(--scrollbar-track-color);
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        height: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--accent-color);
      }
    }

    code {
      font-size: 1rem;

      &[data-lang]::before {
        content: attr(data-lang);
        position: absolute;
        right: 0;
        top: -15px;
        background: var(--dark-bg-color);
        color: var(--dark-accent-color);
        border-radius: 0.25rem;
        padding: 5px 10px;
        z-index: 2;
        font-size: 0.85em;
      }
    }
  }
}
