code {
  background-color: var(--code-bg-color);
  border-radius: 0.25em;
  font-size: 0.85em;
  padding: 0.2em;
  font-family: var(--mono-font);
}

.highlighter-rouge {
  margin: 2em auto;
  text-align: center;

  > .highlight {
    border-radius: 0.25em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.22);
    line-height: 1;
  }
}

.highlight {
  font-family: var(--mono-font);
  code {
    padding: 0;
  }

  table {
    border-spacing: 0;
    margin: auto;
  }
}

.rouge-code {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
}

.highlight {
  display: inline-block;
  font-size: 0.85em;
  line-height: 1.33em;
  margin: auto;
  overflow: auto;
  text-align: left;
  background-color: var(--dark-bg-color);
  color: var(--dark-fg-color);

  .gl {
    padding: 0 0.5em;
    text-align: right;
    font-weight: 600;
  }

  .c,
  .c1,
  .cm,
  .sb {
    color: var(--solarized-base1);
  }

  .err,
  .g,
  .ge,
  .go,
  .gp,
  .gs,
  .gt,
  .l,
  .ld,
  .n,
  .na,
  .nl,
  .nn,
  .nx,
  .p,
  .py,
  .sd,
  .sh,
  .w {
    color: var(--solarized-base01);
  }

  .gd,
  .il,
  .m,
  .mf,
  .mh,
  .mi,
  .mo,
  .s,
  .s1,
  .s2,
  .sc,
  .si,
  .ss,
  .sx {
    color: var(--solarized-cyan);
  }

  .bp,
  .kd,
  .kr,
  .nc,
  .nd,
  .nf,
  .nt,
  .nv,
  .vc,
  .vg,
  .vi {
    color: var(--solarized-blue);
  }

  .cp,
  .cs,
  .gi,
  .k,
  .kn,
  .kp,
  .o,
  .ow {
    color: var(--solarized-green);
  }

  .gh,
  .gu,
  .kc,
  .ne,
  .ni,
  .no,
  .se,
  .x {
    color: var(--solarized-orange);
  }

  .gr,
  .kt,
  .sr {
    color: var(--solarized-red);
  }

  .nb {
    color: var(--solarized-yellow);
  }

  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: bold;
  }
}
