footer {
  display: grid;
  place-items: center;
  font-family: var(--title-font);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  position: relative;
  overflow: hidden;
  min-height: 200px;
  width: 100vw;
  left: 0;

  padding-top: 100px;
  box-sizing: content-box;

  background: linear-gradient(0deg, rgba(var(--accent-color-rgb), 0.6) 50%, transparent 100%);
  background: linear-gradient(0deg, var(--subtle-accent-color) 50%, transparent 100%);
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(0deg, rgba(var(--accent-color-rgb), 0.4) 50%, transparent 100%);
  }

  .footer-content {
    display: grid;
    place-items: center;
    gap: 20px;
    margin: 20px;
    z-index: 2;
    
    .copyright {
      font-size: 18px;
      text-align: center;
    }

    ul.social {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        font-size: 0.9rem;
        padding-right: 20px;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: inherit;

          svg {
            fill: var(--fg-color);
            height: 1.3rem;
          }

          &:hover {
            color: var(--accent-color);
            svg {
              fill: var(--accent-color);
            }
          }

          &.featured {
            border: 1px solid var(--accent-color);
          }
        }
      }
    }
  }

  .logomark {
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100% - 8px);
    max-height: 100px;
    transition: all .3s ease-in-out;
    z-index: 1;

    svg {
      height: 100%;
      width: auto;
      fill: rgba(var(--fg-color-rgb), 0.4);
      stroke: rgba(var(--fg-color-rgb), 0.4);
    }

    @include for-phone-only {
      height: 60px;
      bottom: 8px;
      right: 8px;
    }

    &:hover {
      animation: web-boink .5s;
    }
  }
}

@keyframes web-boink {
  0% {
    transform: unset;
  }

  25% {
    transform: skew(10deg, 10deg);
  }

  50% {
    transform: unset;
  }

  75% {
    transform: skew(5deg, 5deg);
  }

  100% {
    transform: unset;
  }
}