header {
  display: flex;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 25px;
    width: 100%;
    z-index: 5;
    color: var(--fg-color);

    .links {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        padding-right: 30px;
        height: 24px;
        svg {
          width: auto;
          height: 100%;

          #name {
            transition: all 0.3s ease-in-out;
            fill: var(--fg-color);
            stroke: var(--fg-color);
          }

          #web {
            transition: all 0.3s ease-in-out;
            fill: var(--bg-color);
            stroke: var(--bg-color);
          }

          &:hover {
            #name {
              fill: var(--accent-color);
              stroke: var(--accent-color);
            }

            #web {
              fill: var(--fg-color);
              stroke: var(--fg-color);
            }
          }
        }
      }
      .inner-pages {
        display: flex;

        li {
          font-size: 1.1rem;
          padding-right: 30px;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        font-size: 0.9rem;
        padding-right: 20px;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: inherit;

          svg {
            fill: var(--fg-color);
            height: 1.3rem;
          }

          &:hover {
            color: var(--accent-color);
            svg {
              fill: var(--accent-color);
            }
          }

          &.featured {
            border: 1px solid var(--accent-color);
          }
        }
      }
      grid &.social {
        li {
          a {
            &.telegram {
              background-image: url('../images/icons/telegram.svg');
            }
          }
        }
      }
    }
  }
}

@include for-phone-only {
  header {
    .header-content {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .links {
        justify-content: space-between;
        width: 100%;
        overflow-x: visible;
        overflow-y: hidden;

        // Ugly fix for scrollbars - the setting above makes a vertical scrollbar appear even if it's set to hidden
        // See https://stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causing-scrollbar-issue
        padding-bottom: 250px;
        margin-bottom: -250px;
      }

      .social {
        margin-top: 30px;
      }
    }
  }
}
