header {
  display: flex;
  font-family: var(--title-font);

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 25px;
    width: 100%;
    z-index: 5;
    color: var(--fg-color);

    .links {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        padding-right: 30px;
        height: 24px;
        svg {
          width: auto;
          height: 100%;

          #name {
            transition: all 0.2s ease-in-out;
            fill: var(--fg-color);
            stroke: var(--fg-color);
          }

          #web {
            transition: all 0.2s ease-in-out;
            fill: var(--fg-color);
            stroke: var(--fg-color);
          }

          &:hover {
            #name {
              fill: var(--accent-color);
              stroke: var(--accent-color);
            }

            #web {
              fill: var(--fg-color);
              stroke: var(--fg-color);
            }
          }
        }
      }
      .inner-pages {
        display: flex;

        li {
          font-size: 1rem;
          padding-right: 30px;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        font-size: 0.9rem;
        padding-right: 20px;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: inherit;

          svg {
            fill: var(--fg-color);
            height: 1.3rem;
          }

          &:hover {
            color: var(--accent-color);
            svg {
              fill: var(--accent-color);
            }
          }

          &.featured {
            border: 1px solid var(--accent-color);
          }
        }
      }
    }

    &.dark {
      color: var(--dark-fg-color);

      a:hover {
        color: var(--dark-accent-color);
      }

      .links {
        .logo {
          svg {
            #name,
            #web {
              fill: var(--dark-fg-color);
              stroke: var(--dark-fg-color);
            }
          }

          &:hover {
            svg {
              #name {
                fill: var(--dark-accent-color);
                stroke: var(--dark-accent-color);
              }
            }
          }
        }
      }

      ul {
        li {
          a {
            svg {
              fill: var(--dark-fg-color);

              &:hover {
                fill: var(--dark-accent-color);
              }
            }
          }
        }
      }
    }
  }
}
@include for-phone-only {
  header {
    .header-content {
      padding: 20px 20px 80px 20px;
      display: flex;
      flex-direction: column;

      .links {
        flex-wrap: wrap;

        .logo {
          padding: 0;
          flex: 1 0 100%;
          text-align: center;
        }
        .inner-pages {
          margin-top: 16px;
          text-decoration: underline;
        }
      }

      .social {
        display: none;
      }
    }
  }
}

// LOGO SVG ANIMATION

@keyframes animate-svg-fill {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

@keyframes animate-svg-stroke {
  0% {
    stroke-dashoffset: 200;
    stroke-dasharray: 200;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-long {
  0% {
    stroke-dashoffset: 400;
    stroke-dasharray: 400;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 400;
  }
}

.logo {
  &.animated {
    #svg8 {
      #web {
        > path:nth-child(1) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
        }
      }
      #name {
        > path:nth-child(1) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both;
        }
        > path:nth-child(2) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
        }
        > path:nth-child(3) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both;
        }
        > path:nth-child(4) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both,
            animate-svg-stroke-long 1.0s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
        }
        > path:nth-child(5) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
        }
        > path:nth-child(6) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
        }
        > path:nth-child(7) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
        }
        > path:nth-child(8) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
        }
        > path:nth-child(9) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
        }
        > path:nth-child(10) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
        }
        > path:nth-child(11) {
          animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both,
            animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both;
        }
        // > path:nth-child(12) {
        //   animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s both,
        //     animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
        // }
        // > path:nth-child(13) {
        //   animation: animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both,
        //     animate-svg-stroke 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s both;
        // }
      }
    }
  }
}
