section.hero {
  background: linear-gradient(60deg, rgba(var(--accent-color-rgb), 0.6) 0%, rgba(var(--accent-color-rgb), 0.2) 100%);
  position: absolute;
  width: 100%;
  height: 65vh;
}
.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}


/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}


// section.hero {
//   min-height: 65vh;
//   padding: 40px 40px 160px 40px;
//   box-sizing: border-box;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: var(--dark-fg-color);
//   background-color: var(--dark-bg-color);

//   margin-bottom: -120px;

//   .introduction {
//     z-index: 2;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;

//     span {
//       font-size: 3.5rem;

//       &.intro {
//         font-weight: 600;
//       }

//       &.title {
//         font-size: 5rem;
//         font-weight: 600;
//         color: var(--dark-subtle-accent-color);
//         display: none;

//         &.small-only {
//           display: inherit;
//         }
//       }
//     }
//   }
// }

// @include for-phone-only {
//   section.hero .introduction {
//     span {
//       font-size: 2rem;
//       &.title {
//         font-size: 3rem;
//       }
//     }
//   }
// }

// @include for-tablet-landscape-up {
//   section.hero {
//     .introduction {
//       width: 700px;
//       span {
//         &.title {
//           display: inherit;
//           &.small-only {
//             display: none;
//           }
//         }
//       }
//     }
//   }
// }


// // Typewriter animation
// section.hero .introduction {
//   .title {
//     overflow: hidden;
//     border-right: 0.15em solid transparent;
//     white-space: nowrap;
//     animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
//     animation-fill-mode: forwards;

//     &.small-only {
//       width: 360px;
//       animation: typing-small 0.75s steps(40, end), blink-caret 0.75s step-end infinite;
//       animation-fill-mode: forwards;

//       &.stop {
//         animation: typing-small 0.75s steps(40, end), blink-caret 0.75s step-end 1;
//         animation-fill-mode: forwards;
//       }
//       &.delay {
//         width: 0;
//         animation-delay: 0.75s;
//       }
//     }
//   }
// }

// @include for-phone-only {
//   section.hero .introduction {
//     .title {
//       &.small-only {
//         width: 215px;
//         animation: typing-phone 0.75s steps(40, end), blink-caret 0.75s step-end infinite;
//         animation-fill-mode: forwards;
        
//         &.stop {
//           animation: typing-phone 0.75s steps(40, end), blink-caret 0.75s step-end 1;
//           animation-fill-mode: forwards;
//         }
//       }
//     }
//   }
// }

// /* The typing effect */
// @keyframes typing {
//   from {
//     width: 0;
//   }
//   to {
//     width: 700px;
//   }
// }
// @keyframes typing-small {
//   from {
//     width: 0;
//   }
//   to {
//     width: 360px;
//   }
// }
// @keyframes typing-phone {
//   from {
//     width: 0;
//   }
//   to {
//     width: 215px;
//   }
// }

// /* The typewriter cursor effect */
// @keyframes blink-caret {
//   from,
//   to {
//     border-color: transparent;
//   }
//   50% {
//     border-color: var(--dark-accent-color);
//   }
// }
