section.projects, section.blog-preview, section.work-experience {
  margin-top: 40px;
}
.card.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fg-color);  
  cursor: pointer;
  height: 100%;
  // margin-top: auto;
  // margin-bottom: auto;

  svg {
    fill: var(--accent-color);
    width: 50px;
    margin-bottom: 10px;
  }

  &:hover {
    text-decoration: none;
  }
}
