@keyframes rotate-back-and-forth {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.not-found-page {
  .hero {
    height: 100vh;

    @include for-phone-only {
      height: 90vh;
    }
  }

  #main {
    display: grid;
    place-items: center;
    gap: 20px;
    position: relative;
  }
  .image {
    max-height: 400px;
    max-width: 100%;

    svg {
      width: 100%;
      animation: rotate-back-and-forth 3s ease-in-out infinite;
    }
  }

  p {
    margin: 0 20px;
  }
}
