@keyframes rotate-back-and-forth {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.not-found-page {
  .hero {
    height: 100vh;
  }

  #main {
    display: grid;
    place-items: center;
    gap: 20px;
    position: relative;
  }
  .image {
    height: 400px;
    // background: var(--bg-color);
    // border-radius: 50%;
    // box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);

    svg {
      height: 100%;
      animation: rotate-back-and-forth 3s ease-in-out infinite;
    }
  }
}
