#swipe-view {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  flex: 1;
  display: flex;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  margin: 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    cursor: pointer;
    z-index: 2;

    &.prev {
      left: 15px;
    }

    &.next {
      right: 15px;
      transform: rotateY(180deg);
    }

    svg {
      color: var(--lighter-fg-color);
      filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.3));
    }
  }

  .swipe-item {
    flex: 1 0 calc(100% - 40px);
    scroll-snap-align: center;
    margin-right: 0;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    &.card {
      .content {
        justify-content: flex-start;

        span.timeframe {
          color: var(--subtle-accent-color);
          font-size: 1.25rem;
        }

        ul {
          margin: 20px 0;
          list-style: inside;

          li {
            margin: 10px 0;

            &::marker {
              color: var(--accent-color);
            }
          }
        }
      }
    }
  }
}