//
// VARIABLES
//

// Colors
:root {
  --bg-color: #F4F8FB;
  --bg-color-rgb: 244, 248, 251;
  --fg-color: #1c1e26;
  --lighter-fg-color: #808080;
  --accent-color: #0CA4A5;
  --accent-color-rgb: 12, 164, 165;
  --subtle-accent-color: #95CACA;
  --subtler-accent-color: #E3FFFF;
  --card-bg-color: #ffffff;
  --card-fg-color: #1c1e26;
  --code-bg-color: #f5f5f5;
  --scrollbar-thumb-color: #9E9E9E;
  --scrollbar-track-color: #CDCDCD;


  --dark-bg-color: #1c1e26;
  --dark-fg-color: #dffcfd;
  --dark-accent-color: #00f9fb;
  --dark-subtle-accent-color: #b1feff;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1c1e26;
    --bg-color-rgb: 28, 30, 38;
    --fg-color: #dffcfd;
    --lighter-fg-color: #9eb4b5;
    --accent-color: #00f9fb;
    --accent-color-rgb: 0, 249, 251;
    --subtle-accent-color: #b1feff;
    --subtler-accent-color: #005B5B;
    --card-bg-color: #32343e;
    --card-fg-color: #dffcfd;
    --code-bg-color: #5d6868;
  }
}

// Fonts
:root {
  --default-font: Ubuntu, sans-serif;
  --mono-font: Ubuntu Mono, sans-serif;
}

// Breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Code colors

:root {
  --solarized-base01: #586e75;
  --solarized-base02: #073642;
  --solarized-base03: #002b36;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-yellow: #b58900;
}