//
// VARIABLES
//

// Colors
:root {
  --bg-color: #F4F8FB;
  --bg-color-rgb: 244, 248, 251;
  --fg-color: #1c1e26;
  --fg-color-rgb: 28, 30, 38;
  --lighter-fg-color: #808080;
  --border-color: #f1f1f1;
  --accent-color: #0CA4A5;
  --accent-color-rgb: 12, 164, 165;
  --subtle-accent-color: #95CACA;
  --subtler-accent-color: #E3FFFF;
  --secondary-color: #7d68d0;
  --secondary-color-rgb: 125, 104, 208;
  --card-bg-color: #ffffff;
  --card-fg-color: #1c1e26;
  --inline-code-bg-color: #e3e3e3;
  --scrollbar-thumb-color: #9E9E9E;
  --scrollbar-track-color: #CDCDCD;

  // Used in code blocks, which are always dark
  --dark-bg-color: #1c1e26;
  --dark-fg-color: #dffcfd;
  --dark-accent-color: #00f9fb;
  --dark-subtle-accent-color: #b1feff;

  // Used for text highlights on blog
  --highlight-marker-url: #{"url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=B5E5E5')"};
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1c1e26;
    --bg-color-rgb: 28, 30, 38;
    --fg-color: #dffcfd;
    --fg-color-rgb: 223, 252, 253;
    --lighter-fg-color: #9eb4b5;
    --border-color: #4c4c4c;
    --accent-color: #00f9fb;
    --accent-color-rgb: 0, 249, 251;
    --subtle-accent-color: #b1feff;
    --subtler-accent-color: #005B5B;
    --secondary-color: #c181ff;
    --secondary-color-rgb: 193, 129, 255;
    --card-bg-color: #32343e;
    --card-fg-color: #dffcfd;
    --inline-code-bg-color: #5d6868;

    --highlight-marker-url: #{"url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=0D6970')"};
  }
}

// Fonts
:root {
  --default-font: Lato, sans-serif;
  --title-font: Wotfard, sans-serif;
  --mono-font: Ubuntu Mono, sans-serif;
}

// Breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}