.work-experience {
  .experience-cards-container {
    margin: 20px 0;
    
    // "Desktop View" - 2x2 grid
    @include for-tablet-landscape-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    // "Mobile View" - Single line with scroll snap
    @include for-tablet-portrait-down {
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      flex: 1;
      display: flex;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      margin: 20px;
    
      &::-webkit-scrollbar {
        display: none;
      }

      .card {
        flex: 1 0 calc(100% - 40px);
        scroll-snap-align: center;
        margin-right: 0;
        margin-left: 10px;
        height: fit-content;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          box-shadow: var(--card-box-shadow);
        }
      }
    }

    .card {
      .content {
        justify-content: flex-start;
        .title {
          margin: 0;
        }

        .job-title {
          font-size: 1rem;

          @include for-tablet-landscape-up {
            font-size: 1.25rem;
          }
        }

        span.timeframe {
          color: var(--lighter-fg-color);
          font-size: 0.85rem;

          @include for-tablet-landscape-up {
            font-size: 1rem;
          }
        }

        .links {
          a {
            height: 1.25rem;

            @include for-tablet-landscape-up {
              height: 1.7rem;
            }
            svg {
              height: 100%;
            }
          }
        }

        ul {
          margin: 20px 0 20px 20px;
          list-style: outside;

          li {
            margin: 10px 0;

            &::marker {
              color: var(--accent-color);
            }
          }

          &.tags {
            list-style: none;
            margin: 0;

            li {
              margin: 0;
            }
          }
        }
      }

      &.freelancer .highlighted.bottom-accent::before {
        background: var(--freelancer-color);
      }
      &.logitix .highlighted.bottom-accent::before {
        background: var(--logitix-color);
      }
      &.sige .highlighted.bottom-accent::before {
        background: var(--sige-color);
      }
      &.promob .highlighted.bottom-accent::before {
        background: var(--promob-color);
      }
    }
  }
}