@use '/src/styles/_mixins.scss';
@use '/src/styles/typography';

// Styles that are used everywhere

.u-container {
  @include mixins.padded-container;
}

.u-container-small {
  @include mixins.padded-container-small;
}

.u-container-large {
  @include mixins.padded-container-large;
}

.u-spaced-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

.u-noise {
	pointer-events: none;
	mix-blend-mode: color-burn;
	will-change: opacity;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-image: url("/images/noise-texture.webp");
	position: absolute;
  height: 100%;
  width: 100%;
	top: 0;
  left: 0;
  opacity: var(--background-noise-opacity, 1);
  z-index: -1;
}

ul,
ol {
  margin: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-lg);
  padding: 0;

  li {
    margin: var(--spacing-xs) 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &::marker {
      color: var(--theme--color-accent);
    }
  }
}
ul {
  list-style: outside;
}

code:not([class^='language-']) {
  font-family: var(--font--mono);
  background: var(--theme--background-accent-color);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--border-radius--small);
  box-shadow: var(--theme--shadow-card);
}

hr {
  border: unset;
  border-top: 1px solid var(--theme--border-base-color);
}

a:not(.md-button),
a:not([class^='a-']) {
  color: var(--theme--color-links);
  text-decoration-color: var(--theme--color-links);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 1px;
  transition: all 0.2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      text-underline-offset: 0.3em;
      filter: drop-shadow(var(--theme--glow-links));
    }
  }
}

mark {
	background: var(--theme--color-marker-highlight);
	color: var(--theme--color-marker-highlight-contrast);
}

@view-transition {
  navigation: auto; /* enabled! */
}