@use '/src/styles/_mixins.scss';
@use '/src/styles/typography';

// Styles that are used everywhere

.u-container {
  @include mixins.padded-container;
}

.u-container-small {
  @include mixins.padded-container-small;
}

.u-spaced-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

ul,
ol {
  margin: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-lg);
  padding: 0;

  li {
    margin: var(--spacing-xs) 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &::marker {
      color: var(--t-v6--accent);
    }
  }
}
ul {
  list-style: outside;
}

code:not([class^='language-']) {
  font-family: var(--font--mono);
  background: var(--t-v6--surface--accent);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--border-radius--small);
  box-shadow: var(--t-v6--shadow--base);
}

hr {
  border: unset;
  border-top: 1px solid var(--t-v6--border--base);
}

a:not(.md-button),
a:not([class^='a-']) {
  color: var(--t-v6--accent);
  text-decoration-color: var(--t-v6--accent);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 1px;
  transition: all 0.2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      text-underline-offset: 0.3em;
      // filter: drop-shadow(var(--t-v6--accent--glow-tiny));
    }
  }
}

mark {
  background: var(--t-v6--marker-highlight);
  color: var(--t-v6--marker-highlight--contrast);
}

// Ensures that the iOS 26 Safari toolbar will remain transparent 
// regardless of what content is near the bottom of the screen.
// Took the idea from a comment here: https://www.reddit.com/r/webdev/comments/1savcsm/ios_26_safari_liquid_glass_toolbar_tinting_how_to/
// Doesn't work when a <dialog> is open, but recovers the transparency as soon as the <dialog> is closed.
.safari-liquid-glass-toolbar-fixer {
  background-color: transparent;
  height: 64px;
  width: 100%;
  position: sticky;
  left: 0;
  bottom: -58px;
  z-index: 999;
}
