.u-markdown {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  text-align: justify;

  font-family: var(--font--article);

  picture {
    display: inline;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // margin-top: var(--spacing-lg);
    // margin-bottom: var(--spacing-lg);

    max-width: 100%;
    height: auto;
    width: auto;

    box-shadow: var(--theme--shadow-image);
    border-radius: var(--border-radius--small);

    + figcaption {
      margin-top: var(--spacing-sm);
    }
  }

  .no-shadow {
    > img {
      box-shadow: none;
    }
  }

  figcaption {
    font-size: 0.85rem;
    text-align: center;
    opacity: 0.9;
  }

  p:empty {
    display: none;

    + .a-image {
      img {
        margin-top: 0;
      }
    }
  }

  ul, ol {
    margin: 0 0 0 var(--spacing-lg);
  }

  p {
    // Target links in cool links posts. Make them closer to their commentary.
    &:has(> strong > a) {
      margin-bottom: -1.5rem;
    }
  }

  blockquote {
    + h1,
    + h2,
    + h3,
    + h4,
    + h5 {
      margin-top: var(--spacing-md);
    }
  }

  em, i {
    font-family: var(--font--spicy);
    letter-spacing: -.25px;
    font-style: normal;
  }

  .md-center {
    text-align: center;
  }
}
