.u-markdown {
  display: flex;
  flex-direction: column;
  text-align: left;

  font-family: var(--font--article);

  // "Prose" styling
  // From https://youtu.be/CU8Plk-53RU
  > * + * {
    margin-top: var(--markdown-spacing, 1.4em);
  }

  // astro-island is a pain in the ass sometimes
  > astro-island {
    > * + * {
      margin-top: var(--markdown-spacing, 1.4em);
    }
  }

  picture {
    display: inline;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // margin-top: var(--spacing-lg);
    // margin-bottom: var(--spacing-lg);

    max-width: 100%;
    height: auto;
    width: auto;

    box-shadow: var(--t--shadow--base);
    border-radius: var(--border-radius--small);

    + figcaption {
      margin-top: var(--spacing-sm);
    }
  }

  .no-shadow {
    > img {
      box-shadow: none;
    }
  }

  figcaption {
    font-size: 0.85rem;
    text-align: center;
    opacity: 0.9;
  }

  p:empty {
    display: none;

    + .a-image {
      img {
        margin-top: 0;
      }
    }
  }

  // ul,
  // ol {
  //   margin: 0 0 0 var(--spacing-lg);
  // }

  p {
    // Target links in cool links posts. Make them closer to their commentary.
    &:has(> strong > a) {
      margin-bottom: -1.5rem;
    }

    > .md-button {
      // Single buttons should be centered
      &:first-of-type:last-of-type {
        display: flex;
        margin-inline: auto;
      }
    }
  }

  em,
  i {
    font-family: var(--font--spicy);
    letter-spacing: -0.25px;
    font-style: normal;
  }

  .md-center {
    text-align: center;
  }
}
