@use '/src/styles/breakpoints';
@use '/src/styles/_functions.scss';

@mixin padded-container {
	max-width: 1080px;
	width: 100%;
	padding-left: clamp(15px, calc((100vw - 320px) / 580 * 30), 30px);
	padding-right: clamp(15px, calc((100vw - 320px) / 580 * 30), 30px);
	margin-right: auto;
	margin-left: auto;

	@include breakpoints.for-iphone-se {
		padding-left: 0;
		padding-right: 0;
	}
}

@mixin padded-container-small {
	@include padded-container;
	& {
		max-width: 68ch;
	}
}

@mixin padded-container-large {
	@include padded-container;
	& {
		max-width: 1300px;
	}
}

/**
 * Defines a bunch of CSS variables for a given color:
 * - HEX (--color--example)
 * - RGB (--color--example-rgb)
 * - Contrast (--color--example-contrast)
 * - Shade (--color--example-shade)
 * - Tint (--color--example-tint)
 * 
 * @param {string} $title - The name of the color
 * @param {string} $color - The color in HEX format
 */
@mixin define-color($title, $color) {
	--color--#{$title}: #{$color};

	--color--#{$title}-rgb: #{functions.red($color)}, #{functions.green($color)}, #{functions.blue($color)};

	--color--#{$title}-contrast: #{if(
		functions.brightness($color) > 186,
		var(--theme--text-base-color),
		var(--theme--text-inverse-color)
	)};

	--color--#{$title}-shade: hsl(
		#{functions.hue($color)},
		#{functions.saturation($color)},
		calc(#{functions.lightness($color)} - 10%)
	);

	--color--#{$title}-tint: hsl(
		#{functions.hue($color)},
		#{functions.saturation($color)},
		calc(#{functions.lightness($color)} + 10%)
	);
}