// We need to have two types of variables:
// 1. Global variables that set the colors independently from their context;
//    Example: --color--yellow
// 2. Contextual variables that use the global color ones to build a specific theme;
//    Example: --color--highlight-background, that uses --color--yellow
//    these can change between light/dark themes and in general should not be taken for granted,
//    while in general it's okay to assume what the global color ones are.
//    In addition to light/dark themes, I'm also considering being able to swap accent (primary/secondary/tertiary) colors too.

@use './_mixins.scss' as mixins;

@mixin dark-color-palette {
  @include mixins.define-color('rosewater', #f5e0dc);
  @include mixins.define-color('flamingo', #f2cdcd);
  @include mixins.define-color('pink', #f5c2e7);
  @include mixins.define-color('mauve', #cba6f7);
  @include mixins.define-color('red', #f38ba8);
  @include mixins.define-color('maroon', #eba0ac);
  @include mixins.define-color('peach', #fab387);
  @include mixins.define-color('yellow', #f9e2af);
  @include mixins.define-color('green', #a6e3a1);
  @include mixins.define-color('teal', #94e2d5);
  @include mixins.define-color('sky', #89dceb);
  @include mixins.define-color('sapphire', #74c7ec);
  @include mixins.define-color('blue', #89b4fa);
  @include mixins.define-color('lavender', #b4befe);

  @include mixins.define-color('gray-0', #cdd6f4);
  @include mixins.define-color('gray-50', #bac2de);
  @include mixins.define-color('gray-100', #a6adc8);
  @include mixins.define-color('gray-200', #9399b2);
  @include mixins.define-color('gray-300', #7f849c);
  @include mixins.define-color('gray-400', #6c7086);
  @include mixins.define-color('gray-500', #585b70);
  @include mixins.define-color('gray-600', #45475a);
  @include mixins.define-color('gray-700', #313244);
  @include mixins.define-color('gray-800', #1e1e2e);
  @include mixins.define-color('gray-900', #181825);
  @include mixins.define-color('gray-1000', #11111b);
}

@mixin light-color-palette {
  @include mixins.define-color('rosewater', #dc8a78);
  @include mixins.define-color('flamingo', #dd7878);
  @include mixins.define-color('pink', #ea76cb);
  @include mixins.define-color('mauve', #8839ef);
  @include mixins.define-color('red', #d20f39);
  @include mixins.define-color('maroon', #e64553);
  @include mixins.define-color('peach', #fe640b);
  @include mixins.define-color('yellow', #df8e1d);
  @include mixins.define-color('green', #40a02b);
  @include mixins.define-color('teal', #179299);
  @include mixins.define-color('sky', #04a5e5);
  @include mixins.define-color('sapphire', #209fb5);
  @include mixins.define-color('blue', #1e66f5);
  @include mixins.define-color('lavender', #7287fd);

  @include mixins.define-color('gray-0', #4c4f69);
  @include mixins.define-color('gray-50', #5c5f77);
  @include mixins.define-color('gray-100', #6c6f85);
  @include mixins.define-color('gray-200', #7c7f93);
  @include mixins.define-color('gray-300', #8c8fa1);
  @include mixins.define-color('gray-400', #9ca0b0);
  @include mixins.define-color('gray-500', #acb0be);
  @include mixins.define-color('gray-600', #bcc0cc);
  @include mixins.define-color('gray-700', #ccd0da);
  @include mixins.define-color('gray-800', #eff1f5);
  @include mixins.define-color('gray-900', #e6e9ef);
  @include mixins.define-color('gray-1000', #dce0e8);

  @include mixins.define-color('gray-1100', #ffffff);
  @include mixins.define-color('code-background', #11111b);
  @include mixins.define-color('code-text', #cdd6f4);
}

@mixin theme-base {
  --theme--text-base-color: var(--color--gray-0);
  --theme--text-accent-color: var(--color--gray-50);
  --theme--text-heading-color: var(--color--gray-0);
  --theme--text-inverse-color: var(--color--gray-1000);
  --theme--text-medium-color: var(--color--gray-500);

  --theme--background-base-color: var(--color--gray-800);
  --theme--background-accent-color: var(--color--gray-700);
  --theme--background-card-color: var(--color--gray-700);
  --theme--background-card-color-rgb: var(--color--gray-700-rgb);
  --theme--background-card-accent-color: var(--color--gray-600);
  --theme--background-card-accent-color-rgb: var(--color--gray-600-rgb);

  --theme--border-base-color: var(--color--gray-200);
  --theme--border-medium-color: var(--color--gray-500);

  // Accent color is used in buttons, links, etc.
  // But it's not the only color used in the theme.
  // Colors might vary by purpose or subject.
  --theme--color-accent: var(--color--teal);
  --theme--color-accent-rgb: var(--color--teal-rgb);
  --theme--color-accent-contrast: var(--color--teal-contrast);
  --theme--color-accent-shade: var(--color--teal-shade);
  --theme--color-accent-tint: var(--color--teal-tint);
  --theme--color-accent-glow: var(--theme--glow-teal);

  --theme--color-complementary: var(--color--mauve);
  --theme--color-complementary-rgb: var(--color--mauve-rgb);
  --theme--color-complementary-contrast: var(--color--mauve-contrast);
  --theme--color-complementary-shade: var(--color--mauve-shade);
  --theme--color-complementary-tint: var(--color--mauve-tint);
  --theme--color-complementary-glow: var(--theme--glow-mauve);

  // #region Colors for common elements

  --theme--color-input-empty-border: var(--color--gray-100);
  --theme--color-input-hover-border: var(--theme--text-base-color);
  --theme--color-input-filled-border: var(--theme--text-base-color);

  --theme--color-input-empty-background: transparent;
  --theme--color-input-hover-background: rgba(var(--color--gray-500-rgb), 0.3);
  --theme--color-input-filled-background: transparent;

  --theme--color-input-placeholder: var(--theme--text-medium-color);
  --theme--color-input-value: var(--theme--text-base-color);

  --theme--color-links: var(--theme--color-accent);
  --theme--color-callouts-info: var(--color--blue);
  --theme--color-callouts-warning: var(--color--yellow);
  --theme--color-callouts-success: var(--color--green);
  --theme--color-tags-background: var(--color--gray-600);
  --theme--color-tags-background-hover: var(--color--gray-700);

  --theme--color-sparkles: var(--color--yellow);
  --theme--color-marker-highlight: var(--color--yellow);
  --theme--color-marker-highlight-rgb: var(--color--yellow-rgb);
  --theme--color-marker-highlight-contrast: var(--color--yellow-contrast);

  --theme--color-code-background: var(--color--gray-1000);
  --theme--color-code-text: var(--color--gray-0);

  --theme--color-close-button-color: var(--color--gray-0);
  --theme--color-close-button-color-hover: var(--color--gray-500);

  --theme--color--logo-1: var(--color--gray-0);
  --theme--color--logo-2: var(--color--gray-100);

  --theme--color--logo-1-inverted: var(--color--gray-1000);
  --theme--color--logo-2-inverted: var(--color--gray-700);

  --theme--color-footer--wave-1: var(--color--gray-300);
  --theme--color-footer--wave-2: var(--color--gray-400);
  --theme--color-footer--wave-3: var(--color--gray-500);
  --theme--color-footer--wave-4: var(--color--gray-600);

  .footer-waves--force-gray {
    --theme--color-footer--wave-1: var(--color--gray-300);
    --theme--color-footer--wave-2: var(--color--gray-400);
    --theme--color-footer--wave-3: var(--color--gray-500);
    --theme--color-footer--wave-4: var(--color--gray-600);
  }

  --theme--color-inner-text-shadow: var(--color--gray-400);
  --theme--color-inner-text-shadow-rgb: var(--color--gray-400-rgb);
  --theme--color-inner-text-shadow-light: var(--color--gray-500);
  --theme--color-inner-text-shadow-light-rgb: var(--color--gray-500-rgb);

  --theme--glowing-text-animation: text-glow 3.5s cubic-bezier(0.66, 0, 0.34, 1) infinite alternate;

  // #endregion

  // #region Shadows / Glows

  --theme--shadow-card: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  --theme--shadow-card-high: 0 4px 20px 4px rgba(0, 0, 0, 0.2);
  --theme--shadow-image: 1px 3px 8px 0 rgba(39, 44, 49, 0.03), 1px 3px 8px 0 rgba(39, 44, 49, 0.06);

  --theme--glow-blue: 0 0 40px 0 rgba(var(--color--blue-rgb), 0.4);
  --theme--glow-sapphire: 0 0 40px 0 rgba(var(--color--sapphire-rgb), 0.4);
  --theme--glow-yellow: 0 0 40px 0 rgba(var(--color--yellow-rgb), 0.4);
  --theme--glow-green: 0 0 40px 0 rgba(var(--color--green-rgb), 0.4);
  --theme--glow-teal: 0 0 40px 0 rgba(var(--color--teal-rgb), 0.4);
  --theme--glow-lavender: 0 0 40px 0 rgba(var(--color--lavender-rgb), 0.4);
  --theme--glow-mauve: 0 0 40px 0 rgba(var(--color--mauve-rgb), 0.4);
  --theme--glow-peach: 0 0 40px 0 rgba(var(--color--peach-rgb), 0.4);
  --theme--glow-red: 0 0 40px 0 rgba(var(--color--red-rgb), 0.4);
  --theme--glow-maroon: 0 0 40px 0 rgba(var(--color--maroon-rgb), 0.4);

  --theme--glow-callouts-info: var(--theme--glow-blue);
  --theme--glow-callouts-warning: var(--theme--glow-yellow);
  --theme--glow-callouts-success: var(--theme--glow-green);
  --theme--glow-links: 0px 0px 3px rgba(var(--theme--color-accent-rgb), 0.7);

  // Gradients

  --theme--gradient-greenish: linear-gradient(to right, var(--color--teal), var(--color--sky));
  --theme--gradient-pinkish: linear-gradient(to right, var(--color--pink), var(--color--mauve), var(--color--lavender));
  --theme--gradient-yellowish: linear-gradient(to right, var(--color--yellow), var(--color--peach));
  --theme--gradient-rainbow: linear-gradient(
    to right,
    var(--color--pink),
    var(--color--mauve),
    var(--color--red),
    var(--color--maroon),
    var(--color--peach),
    var(--color--yellow),
    var(--color--green),
    var(--color--teal),
    var(--color--sky),
    var(--color--sapphire),
    var(--color--blue),
    var(--color--lavender)
  );
  --theme--gradient-rainbow-circle: conic-gradient(
    from 0deg,
    var(--color--pink),
    var(--color--mauve),
    var(--color--red),
    var(--color--maroon),
    var(--color--peach),
    var(--color--yellow),
    var(--color--green),
    var(--color--teal),
    var(--color--sky),
    var(--color--sapphire),
    var(--color--blue),
    var(--color--lavender)
  );
  --theme--gradient-rainbow-circle-dark: conic-gradient(
    from 0deg,
    #f5c2e7,
    /* dark pink */ #cba6f7,
    /* dark mauve */ #f38ba8,
    /* dark red */ #eba0ac,
    /* dark maroon */ #fab387,
    /* dark peach */ #f9e2af,
    /* dark yellow */ #a6e3a1,
    /* dark green */ #94e2d5,
    /* dark teal */ #89dceb,
    /* dark sky */ #74c7ec,
    /* dark sapphire */ #89b4fa,
    /* dark blue */ #b4befe /* dark lavender */
  );
  // #endregion

  // #region Quick Reviews

  --theme--qr-base-dark-color: #11111b;
  --theme--qr-base-light-color: #ffffff;

  --theme--qr-movie-color: #fe640b;
  --theme--qr-movie-color-rgb: 254, 100, 11;

  --theme--qr-tv-show-color: #d20f39;
  --theme--qr-tv-show-color-rgb: 210, 15, 57;

  --theme--qr-game-color: #40a02b;
  --theme--qr-game-color-rgb: 64, 160, 43;

  --theme--qr-album-color: #ea76cb;
  --theme--qr-album-color-rgb: 234, 118, 203;

  --theme--qr-loved-color: var(--theme--gradient-rainbow-circle-dark);
  --theme--qr-liked-color: #89b4fa;
  --theme--qr-decent-color: #fab387;
  --theme--qr-not-liked-color: #f38ba8;

  // #endregion

  // #region Post Types

  --theme--color-generic: var(--color--teal);
  --theme--color-generic-rgb: var(--color--teal-rgb);
  --theme--color-generic-contrast: var(--color--teal-contrast);
  --theme--color-generic-shade: var(--color--teal-shade);
  --theme--color-generic-tint: var(--color--teal-tint);
  --theme--color-generic-glow: var(--theme--glow-teal);

  --theme--color-post: var(--color--teal);
  --theme--color-post-rgb: var(--color--teal-rgb);
  --theme--color-post-contrast: var(--color--teal-contrast);
  --theme--color-post-shade: var(--color--teal-shade);
  --theme--color-post-tint: var(--color--teal-tint);
  --theme--color-post-glow: var(--theme--glow-teal);

  --theme--color-cool-link: var(--color--blue);
  --theme--color-cool-link-rgb: var(--color--blue-rgb);
  --theme--color-cool-link-contrast: var(--color--blue-contrast);
  --theme--color-cool-link-shade: var(--color--blue-shade);
  --theme--color-cool-link-tint: var(--color--blue-tint);
  --theme--color-cool-link-glow: var(--theme--glow-blue);

  --theme--color-quick-review: var(--color--peach);
  --theme--color-quick-review-rgb: var(--color--peach-rgb);
  --theme--color-quick-review-contrast: var(--color--peach-contrast);
  --theme--color-quick-review-shade: var(--color--peach-shade);
  --theme--color-quick-review-tint: var(--color--peach-tint);
  --theme--color-quick-review-glow: var(--theme--glow-peach);

  --theme--color-photography: var(--color--maroon);
  --theme--color-photography-rgb: var(--color--maroon-rgb);
  --theme--color-photography-contrast: var(--color--maroon-contrast);
  --theme--color-photography-shade: var(--color--maroon-shade);
  --theme--color-photography-tint: var(--color--maroon-tint);
  --theme--color-photography-glow: var(--theme--glow-maroon);

  // #endregion
}

@mixin dark-theme {
  @include dark-color-palette;
  @include theme-base;

  --background-noise-opacity: 0;
  --theme--background-root-color: var(--theme--background-base-color);
}

@mixin light-theme {
  @include light-color-palette;
  @include theme-base;

  --theme--background-root-color: linear-gradient(-45deg, rgba(242, 205, 205, 0.05), rgba(249, 226, 175, 0.08));
  --background-noise-opacity: 1;

  --theme--text-inverse-color: var(--color--gray-1100);

  --theme--background-accent-color: var(--color--gray-1100);
  --theme--background-accent-color-rgb: var(--color--gray-1100-rgb);
  --theme--background-card-color: var(--color--gray-1100);
  --theme--background-card-color-rgb: var(--color--gray-1100-rgb);
  --theme--background-card-accent-color: var(--color--gray-800);
  --theme--background-card-accent-color-rgb: var(--color--gray-800-rgb);

  --theme--border-medium-color: var(--color--gray-700);

  --theme--color-code-background: var(--color--code-background);
  --theme--color-code-text: var(--color--code-text);

  --theme--color-tags-background: var(--color--gray-800);
  --theme--color-tags-background-hover: var(--color--gray-700);

  --theme--color--logo-1: var(--color--gray-0);
  --theme--color--logo-2: var(--color--gray-100);

  --theme--color--logo-1-inverted: var(--color--gray-1000);
  --theme--color--logo-2-inverted: var(--color--gray-700);

  --theme--glow-callouts-info: var(--theme--shadow-card);
  --theme--glow-callouts-warning: var(--theme--shadow-card);
  --theme--glow-callouts-success: var(--theme--shadow-card);

  --theme--color-footer--wave-1: rgba(var(--theme--color-accent-rgb), 0.3);
  --theme--color-footer--wave-2: rgba(var(--theme--color-accent-rgb), 0.4);
  --theme--color-footer--wave-3: rgba(var(--theme--color-accent-rgb), 0.5);
  --theme--color-footer--wave-4: var(--color--gray-1100);

  .footer-waves--force-gray {
    --theme--color-footer--wave-1: rgba(var(--color--gray-700-rgb), 0.3);
    --theme--color-footer--wave-2: rgba(var(--color--gray-700-rgb), 0.4);
    --theme--color-footer--wave-3: rgba(var(--color--gray-700-rgb), 0.5);
    --theme--color-footer--wave-4: var(--color--gray-1100);
  }

  --theme--color-close-button-color: var(--color--gray-900);
  --theme--color-close-button-color-hover: var(--color--gray-200);

  --theme--color-inner-text-shadow: var(--color--gray-400);
  --theme--color-inner-text-shadow-rgb: var(--color--gray-400-rgb);
  --theme--color-inner-text-shadow-light: var(--color--gray-700);
  --theme--color-inner-text-shadow-light-rgb: var(--color--gray-700-rgb);

  --theme--glowing-text-animation: unset;
}

:root {
  @include light-theme;

  &[data-theme='dark'] {
    @include dark-theme;
  }

  &[data-theme='auto'] {
    @media (prefers-color-scheme: dark) {
      @include dark-theme;
    }
  }
}
