// We need to have two types of variables:
// 1. Global variables that set the colors independently from their context;
//    Example: --color--yellow
// 2. Contextual variables that use the global color ones to build a specific theme;
//    Example: --color--highlight-background, that uses --color--yellow
//    these can change between light/dark themes and in general should not be taken for granted, 
//    while in general it's okay to assume what the global color ones are.
//    In addition to light/dark themes, I'm also considering being able to swap accent (primary/secondary/tertiary) colors too.

@use './_mixins.scss' as mixins;

@mixin dark-color-palette {
  @include mixins.define-color('rosewater', #F5E0DC);
  @include mixins.define-color('flamingo', #F2CDCD);
  @include mixins.define-color('pink', #F5C2E7);
  @include mixins.define-color('mauve', #CBA6F7);
  @include mixins.define-color('red', #F38BA8);
  @include mixins.define-color('maroon', #EBA0AC);
  @include mixins.define-color('peach', #FAB387);
  @include mixins.define-color('yellow', #F9E2AF);
  @include mixins.define-color('green', #A6E3A1);
  @include mixins.define-color('teal', #94E2D5);
  @include mixins.define-color('sky', #89DCEB);
  @include mixins.define-color('sapphire', #74C7EC);
  @include mixins.define-color('blue', #89B4FA);
  @include mixins.define-color('lavender', #B4BEFE);

  @include mixins.define-color('gray-0', #CDD6F4);
  @include mixins.define-color('gray-50', #BAC2DE);
  @include mixins.define-color('gray-100', #A6ADC8);
  @include mixins.define-color('gray-200', #9399B2);
  @include mixins.define-color('gray-300', #7F849C);
  @include mixins.define-color('gray-400', #6C7086);
  @include mixins.define-color('gray-500', #585B70);
  @include mixins.define-color('gray-600', #45475A);
  @include mixins.define-color('gray-700', #313244);
  @include mixins.define-color('gray-800', #1E1E2E);
  @include mixins.define-color('gray-900', #181825);
  @include mixins.define-color('gray-1000', #11111B);
}

@mixin light-color-palette {
  @include mixins.define-color('rosewater', #DC8A78);
  @include mixins.define-color('flamingo', #DD7878);
  @include mixins.define-color('pink', #EA76CB);
  @include mixins.define-color('mauve', #8839EF);
  @include mixins.define-color('red', #D20F39);
  @include mixins.define-color('maroon', #E64553);
  @include mixins.define-color('peach', #FE640B);
  @include mixins.define-color('yellow', #DF8E1D);
  @include mixins.define-color('green', #40A02B);
  @include mixins.define-color('teal', #179299);
  @include mixins.define-color('sky', #04A5E5);
  @include mixins.define-color('sapphire', #209FB5);
  @include mixins.define-color('blue', #1E66F5);
  @include mixins.define-color('lavender', #7287FD);

  @include mixins.define-color('gray-0', #4C4F69);
  @include mixins.define-color('gray-50', #5C5F77);
  @include mixins.define-color('gray-100', #6C6F85);
  @include mixins.define-color('gray-200', #7C7F93);
  @include mixins.define-color('gray-300', #8C8FA1);
  @include mixins.define-color('gray-400', #9CA0B0);
  @include mixins.define-color('gray-500', #ACB0BE);
  @include mixins.define-color('gray-600', #BCC0CC);
  @include mixins.define-color('gray-700', #CCD0DA);
  @include mixins.define-color('gray-800', #EFF1F5);
  @include mixins.define-color('gray-900', #E6E9EF);
  @include mixins.define-color('gray-1000', #DCE0E8);

  @include mixins.define-color('gray-1100', #FFFFFF);
  @include mixins.define-color('code-background', #11111B);
  @include mixins.define-color('code-text', #CDD6F4);
}

@mixin theme-base {
  --theme--text-base-color: var(--color--gray-0);
  --theme--text-accent-color: var(--color--gray-50);
  --theme--text-heading-color: var(--color--gray-0);
  --theme--text-inverse-color: var(--color--gray-1000);
  --theme--text-medium-color: var(--color--gray-500);

  --theme--background-base-color: var(--color--gray-800);
  --theme--background-accent-color: var(--color--gray-700);
  --theme--background-card-color: var(--color--gray-700);
  --theme--background-card-color-rgb: var(--color--gray-700-rgb);
  --theme--background-card-accent-color: var(--color--gray-600);
  --theme--background-card-accent-color-rgb: var(--color--gray-600-rgb);

  --theme--border-base-color: var(--color--gray-200);
  --theme--border-medium-color: var(--color--gray-500);

  // Accent color is used in buttons, links, etc.
  // But it's not the only color used in the theme.
  // Colors might vary by purpose or subject.
  --theme--color-accent: var(--color--teal);
  --theme--color-accent-rgb: var(--color--teal-rgb);
  --theme--color-accent-contrast: var(--color--teal-contrast);
  --theme--color-accent-shade: var(--color--teal-shade);
  --theme--color-accent-tint: var(--color--teal-tint);
  --theme--color-accent-glow: var(--theme--glow-teal);

  --theme--color-complementary: var(--color--mauve);
  --theme--color-complementary-rgb: var(--color--mauve-rgb);
  --theme--color-complementary-contrast: var(--color--mauve-contrast);
  --theme--color-complementary-shade: var(--color--mauve-shade);
  --theme--color-complementary-tint: var(--color--mauve-tint);
  --theme--color-complementary-glow: var(--theme--glow-mauve);
  
  // #region Colors for common elements

  --theme--color-input-empty-border: var(--color--gray-100);
  --theme--color-input-hover-border: var(--theme--text-base-color);
  --theme--color-input-filled-border: var(--theme--text-base-color);

  --theme--color-input-empty-background: transparent;
  --theme--color-input-hover-background: rgba(var(--color--gray-500-rgb), 0.3);
  --theme--color-input-filled-background: transparent;

  --theme--color-input-placeholder: var(--theme--text-medium-color);
  --theme--color-input-value: var(--theme--text-base-color);

  --theme--color-links: var(--theme--color-accent);
  --theme--color-callouts-info: var(--color--blue);
  --theme--color-callouts-warning: var(--color--yellow);
  --theme--color-callouts-success: var(--color--green);
  --theme--color-tags-background: var(--color--gray-600);
  --theme--color-tags-background-hover: var(--color--gray-700);

  --theme--color-sparkles: var(--color--yellow);
  --theme--color-marker-highlight: var(--color--yellow);
  --theme--color-marker-highlight-rgb: var(--color--yellow-rgb);
  --theme--color-marker-highlight-contrast: var(--color--yellow-contrast);

  --theme--color-code-background: var(--color--gray-1000);
  --theme--color-code-text: var(--color--gray-0);
  
  --theme--color--logo-1: var(--color--gray-0);
  --theme--color--logo-2: var(--color--gray-100);

  --theme--color--logo-1-inverted: var(--color--gray-1000);
  --theme--color--logo-2-inverted: var(--color--gray-700);

  --theme--color-footer--wave-1: var(--color--gray-300);
  --theme--color-footer--wave-2: var(--color--gray-400);
  --theme--color-footer--wave-3: var(--color--gray-500);
  --theme--color-footer--wave-4: var(--color--gray-600);

  .o-home-page-hero {
    --theme--color-footer--wave-1: var(--color--gray-300);
    --theme--color-footer--wave-2: var(--color--gray-400);
    --theme--color-footer--wave-3: var(--color--gray-500);
    --theme--color-footer--wave-4: var(--color--gray-600);
  }

  --theme--color-inner-text-shadow: var(--color--gray-400);
  --theme--color-inner-text-shadow-rgb: var(--color--gray-400-rgb);
  --theme--color-inner-text-shadow-light: var(--color--gray-500);
  --theme--color-inner-text-shadow-light-rgb: var(--color--gray-500-rgb);

  --theme--glowing-text-animation: text-glow 3.5s cubic-bezier(0.66, 0, 0.34, 1) infinite alternate;

  // #endregion

  // #region Shadows / Glows

  --theme--shadow-card: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  --theme--shadow-card-high: 0 4px 20px 4px rgba(0, 0, 0, 0.2);
  --theme--shadow-image: 1px 3px 8px 0 rgba(39, 44, 49, 0.03), 1px 3px 8px 0 rgba(39, 44, 49, 0.06);

  --theme--glow-blue: 0 0 40px 0 rgba(var(--color--blue-rgb), 0.4);
  --theme--glow-yellow: 0 0 40px 0 rgba(var(--color--yellow-rgb), 0.4);
  --theme--glow-green: 0 0 40px 0 rgba(var(--color--green-rgb), 0.4);
  --theme--glow-teal: 0 0 40px 0 rgba(var(--color--teal-rgb), 0.4);
  --theme--glow-lavender: 0 0 40px 0 rgba(var(--color--lavender-rgb), 0.4);
  --theme--glow-mauve: 0 0 40px 0 rgba(var(--color--mauve-rgb), 0.4);
  --theme--glow-peach: 0 0 40px 0 rgba(var(--color--peach-rgb), 0.4);
  --theme--glow-red: 0 0 40px 0 rgba(var(--color--red-rgb), 0.4);

  --theme--glow-callouts-info: var(--theme--glow-blue);
  --theme--glow-callouts-warning: var(--theme--glow-yellow);
  --theme--glow-callouts-success: var(--theme--glow-green);
  --theme--glow-links: 0px 0px 3px rgba(var(--color--teal-rgb), 0.7);

  // Gradients

  --theme--gradient-greenish: linear-gradient(to right, var(--color--teal), var(--color--sky));
  --theme--gradient-pinkish: linear-gradient(to right, var(--color--pink), var(--color--mauve), var(--color--lavender));
  --theme--gradient-yellowish: linear-gradient(to right, var(--color--yellow), var(--color--peach));
  --theme--gradient-rainbow: linear-gradient(to right, var(--color--pink), var(--color--mauve), var(--color--red), var(--color--maroon), var(--color--peach), var(--color--yellow), var(--color--green), var(--color--teal), var(--color--sky), var(--color--sapphire), var(--color--blue), var(--color--lavender));
  --theme--gradient-rainbow-circle: conic-gradient(from 0deg, var(--color--pink), var(--color--mauve), var(--color--red), var(--color--maroon), var(--color--peach), var(--color--yellow), var(--color--green), var(--color--teal), var(--color--sky), var(--color--sapphire), var(--color--blue), var(--color--lavender));
  --theme--gradient-rainbow-circle-dark: conic-gradient(from 0deg, 
    #F5C2E7, /* dark pink */
    #CBA6F7, /* dark mauve */
    #F38BA8, /* dark red */
    #EBA0AC, /* dark maroon */
    #FAB387, /* dark peach */
    #F9E2AF, /* dark yellow */
    #A6E3A1, /* dark green */
    #94E2D5, /* dark teal */
    #89DCEB, /* dark sky */
    #74C7EC, /* dark sapphire */
    #89B4FA, /* dark blue */
    #B4BEFE  /* dark lavender */
  );
  // #endregion

  // #region Quick Reviews

  --theme--qr-base-dark-color: #11111B;
  --theme--qr-base-light-color: #ffffff;

  --theme--qr-movie-color: #FE640B;
  --theme--qr-movie-color-rgb: 254, 100, 11;

  --theme--qr-tv-show-color: #D20F39;
  --theme--qr-tv-show-color-rgb: 210, 15, 57;

  --theme--qr-game-color: #40A02B;
  --theme--qr-game-color-rgb: 64, 160, 43;

  --theme--qr-album-color: #EA76CB;
  --theme--qr-album-color-rgb: 234, 118, 203;

  --theme--qr-loved-color: var(--theme--gradient-rainbow-circle-dark);
  --theme--qr-liked-color: #89B4FA;
  --theme--qr-decent-color: #FAB387;
  --theme--qr-not-liked-color: #F38BA8;

  // #endregion
}

@mixin dark-theme {
  @include dark-color-palette;
  @include theme-base;

  --background-noise-opacity: 0;
  --theme--background-root-color: var(--theme--background-base-color);
}

@mixin light-theme {
  @include light-color-palette;
  @include theme-base;

  --theme--background-root-color: linear-gradient(-45deg, rgba(242, 205, 205, 0.05), rgba(249, 226, 175, 0.08));
  --background-noise-opacity: 1;

  --theme--text-inverse-color: var(--color--gray-1100);

  --theme--background-accent-color: var(--color--gray-1100);
  --theme--background-card-color: var(--color--gray-1100);
  --theme--background-card-color-rgb: var(--color--gray-1100-rgb);
  --theme--background-card-accent-color: var(--color--gray-800);
  --theme--background-card-accent-color-rgb: var(--color--gray-800-rgb);

  --theme--border-medium-color: var(--color--gray-700);

  --theme--color-code-background: var(--color--code-background);
  --theme--color-code-text: var(--color--code-text);

  --theme--color-tags-background: var(--color--gray-800);
  --theme--color-tags-background-hover: var(--color--gray-700);

  --theme--color--logo-1: var(--color--gray-0);
  --theme--color--logo-2: var(--color--gray-100);

  --theme--color--logo-1-inverted: var(--color--gray-1000);
  --theme--color--logo-2-inverted: var(--color--gray-700);

  --theme--glow-callouts-info: var(--theme--shadow-card);
  --theme--glow-callouts-warning: var(--theme--shadow-card);
  --theme--glow-callouts-success: var(--theme--shadow-card);

  --theme--color-footer--wave-1: rgba(var(--color--teal-rgb), 0.3);
  --theme--color-footer--wave-2: rgba(var(--color--teal-rgb), 0.4);
  --theme--color-footer--wave-3: rgba(var(--color--teal-rgb), 0.5);
  --theme--color-footer--wave-4: var(--color--gray-1100);

  .o-home-page-hero {
    --theme--color-footer--wave-1: rgba(var(--color--gray-700-rgb), 0.3);
    --theme--color-footer--wave-2: rgba(var(--color--gray-700-rgb), 0.4);
    --theme--color-footer--wave-3: rgba(var(--color--gray-700-rgb), 0.5);
    --theme--color-footer--wave-4: var(--color--gray-1100);
  }

  --theme--color-inner-text-shadow: var(--color--gray-400);
  --theme--color-inner-text-shadow-rgb: var(--color--gray-400-rgb);
  --theme--color-inner-text-shadow-light: var(--color--gray-700);
  --theme--color-inner-text-shadow-light-rgb: var(--color--gray-700-rgb);

  --theme--glowing-text-animation: unset;
}

:root {
	@include light-theme;

	&[data-theme='dark'] {
		@include dark-theme;
	}

	&[data-theme='auto'] {
		@media (prefers-color-scheme: dark) {
			@include dark-theme;
		}
	}
}