@use '@fontsource-variable/mona-sans';
@use '@fontsource/atkinson-hyperlegible-next';

// @import '@fontsource/monaspace-krypton/500.css';
// @import '@fontsource/monaspace-krypton/800.css';

@font-face {
  font-family: 'Monaspace Krypton';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/monaspace-krypton/monaspace-krypton-latin-500-normal.woff2') format('woff2'), url('/fonts/monaspace-krypton/monaspace-krypton-latin-500-normal.woff') format('woff');
}
@font-face {
  font-family: 'Monaspace Krypton';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/monaspace-krypton/monaspace-krypton-latin-800-normal.woff2') format('woff2'), url('/fonts/monaspace-krypton/monaspace-krypton-latin-800-normal.woff') format('woff');
}

:root {
  --font--default: 'Mona Sans Variable', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font--headings: 'Mona Sans Variable', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font--article: 'Atkinson Hyperlegible Next', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font--mono: 'Monaspace Krypton', monospace;
}

html {
	font-size: 16px;
}

body {
  font-family: var(--font--default);
  line-height: 1.6;
  font-size: clamp(1rem, 0.2vw + 1rem, 1.125rem);
}

// #region Headings

@mixin h1 {
  font-family: var(--font--headings);
  font-size: clamp(1.8rem, 4vw + 1rem, 4rem); //64px
  font-weight: 900;
  line-height: 1.2;
}

h1, .u-h1 {
  @include h1;
}

@mixin h2 {
  font-family: var(--font--mono);
  font-size: clamp(1.35rem, 1.6vw + 1rem, 2.25rem); //36px
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.2;
  text-align: left;
}

h2, .u-h2 {
  @include h2;
}

@mixin h3 {
  font-family: var(--font--headings);
  font-size: clamp(1.25rem, 1.4vw + 1rem, 1.75rem); //28px
  font-weight: 700;
  line-height: 1.2;
}

h3, .u-h3 {
  @include h3;
}

@mixin h4 {
  font-family: var(--font--headings);
  font-size: clamp(1.1rem, 0.5vw + 1rem, 1.375rem); //22px
  font-weight: 700;
  line-height: 1.2;
}

h4, .u-h4 {
  @include h4;
}

@mixin h5 {
  font-family: var(--font--mono);
  font-size: 1.125rem; //18px
  font-weight: 700;
  line-height: 1.2;
}

h5, .u-h5 {
  @include h5;
}

// #endregion

// #region Body Text

@mixin b1 {
  font-family: var(--font--default);
  font-size: 1.125rem; //18px
  font-weight: 700;
  line-height: 1.2;
}

.u-b1 {
  @include b1;
}

@mixin b2 {
  font-family: var(--font--default);
  font-size: 1rem;
  font-weight: 500;
}

.u-b2 {
  @include b2;
}

@mixin b3 {
  font-family: var(--font--default);
  font-size: 0.875rem;
  font-weight: 500;
}

.u-b3 {
  @include b3;
}

// #endregion

// #region Misc

.u-article-text {
  font-family: var(--font--article);
  // font-size: 1.125rem; //18px
  font-size: clamp(1rem, 0.2vw + 1rem, 1.125rem); //18px
  font-weight: 400;
}

.u-code {
  font-family: var(--font--mono);
  font-size: 1.125rem; //18px
  font-weight: 500;
}

.u-code-small {
  font-family: var(--font--mono);
  font-size: 0.955rem; //15.3px
  font-weight: 500;
}

@mixin icon-label {
  font-family: var(--font--default);
  font-size: 0.65rem; //10px
  text-transform: uppercase;
}

.u-icon-label {
  @include icon-label;
}

// #endregion

// #region Gradient

@mixin gradient($gradient) {
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin gradient-greenish {
  @include gradient(var(--theme--gradient-greenish));
}

@mixin gradient-pinkish {
  @include gradient(var(--theme--gradient-pinkish));
}

@mixin gradient-rainbow {
  @include gradient(var(--theme--gradient-rainbow));
}

@mixin gradient-rainbow-circle {
  @include gradient(var(--theme--gradient-rainbow-circle));
}

@mixin gradient-rainbow-circle-dark {
  @include gradient(var(--theme--gradient-rainbow-circle-dark));
}

// #endregion