:root {
  // #region Radius

  --border-radius: 20px;
  --border-radius--small: 8px;
  
  // #endregion

  // #region Spacing

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-xxxl: 128px;

  // #endregion
}