@use '/src/styles/breakpoints';

@keyframes slide-out-to-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-bottom {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    transform: translateY(50%);
    opacity: 0;
  }
}
 
@keyframes slide-in-from-bottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

::view-transition-group(root) {
  animation-duration: .5s;
}

html[data-transition="slide"] {
  &::view-transition-old(main-content) {
    animation: slide-out-to-right .5s cubic-bezier(0.4, 0, 0.2, 1) both;

    @include breakpoints.for-phone-only {
      animation: slide-out-to-bottom .75s cubic-bezier(0.4, 0, 0.2, 1) both;
    }
  }

  &::view-transition-new(main-content) {
    animation: slide-in-from-right .5s cubic-bezier(0.4, 0, 0.2, 1) both;

    @include breakpoints.for-phone-only {
      animation: slide-in-from-bottom .75s cubic-bezier(0.4, 0, 0.2, 1) both;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
