@use '/src/styles/_reset.scss';
@use '/src/styles/_variables.scss';
@use '/src/styles/_themes.scss';
@use '/src/styles/_keyframes.scss';
@use '/src/styles/breakpoints';
@use '/src/styles/_functions.scss';
@use '/src/styles/_mixins.scss';
@use '/src/styles/_base.scss';
@use '/src/styles/typography';
@use '/src/styles/_markdown.scss';
@use '/src/styles/_code-highlights.scss';
@use '/src/styles/_view-transitions.scss';
// @use '/src/styles/animations.scss';

body {
  background-color: var(--theme--background-base-color);
  color: var(--theme--text-base-color);
  fill: var(--theme--text-base-color);
  
  height: 100%;
  min-height: 100vh;
  /* safari viewport bug fix */
	min-height: -webkit-fill-available;
  
	width: 100%;
	overflow-x: hidden;
  transition: all 0.4s ease;

	// Prevents scroll from happening when hamburger menu is open
	&:has(.m-hamburger-menu__checkbox:checked) {
		overflow: hidden;
	}
}

html {
	width: 100%;

	&.smooth-scroll {
		scroll-behavior: smooth;
		body {
			scroll-behavior: smooth;
		}
	}
}

::selection {
	background-color: rgba(var(--theme--color-accent-rgb), 0.3);
	text-shadow: none;
}

* {
	scroll-margin-top: var(--spacing-lg);

	&:focus-visible {
		outline: none;
	}

	.keyboard-in-use &:focus {
		outline: 2px dashed var(--theme--color-accent);
		outline-offset: 4px;
	}
}

// If prefers-reduced-motion is set, disable all animations and transitions globally
@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;

		&:before,
		&:after {
			animation: none !important;
			transition: none !important;
		}
	}
}
	
