@use '@styles/_reset.scss';
@use '@styles/_variables.scss';
@use '@styles/_themes.scss';
@use '@styles/_breakpoints.scss';
@use '@styles/_functions.scss';
@use '@styles/_mixins.scss';
@use '@styles/_base.scss';
@use '@styles/_typography.scss';
@use '@styles/_markdown.scss';
@use '@styles/_code-highlights.scss';
// @use '@styles/animations.scss';
// @use '@styles/view-transitions.scss';

body {
  background-color: var(--theme--background-base-color);
  color: var(--theme--text-base-color);
  fill: var(--theme--text-base-color);
  
  height: 100%;
  min-height: 100vh;
  /* safari viewport bug fix */
	min-height: -webkit-fill-available;
  
	width: 100%;
	overflow-x: hidden;
  transition: all 0.4s ease;

	// Prevents scroll from happening when hamburger menu is open
	&:has(.hamburger-menu #control:checked) {
		overflow: hidden;
	}
}

html {
	width: 100%;

	&.smooth-scroll {
		scroll-behavior: smooth;
		body {
			scroll-behavior: smooth;
		}
	}
}

// body {
// 	--body-background-color: var(--color--page-background);
// 	--body-background-color-rgb: var(--color--page-background-rgb);
// 	background-color: var(--body-background-color);
// 	color: var(--color--text);
// 	fill: var(--color--text);
// 	transition: all 0.4s ease;
// 	font-family: var(--font--default);
// 	line-height: 1.3;

// 	height: 100%;
// 	min-height: 100vh;
// 	/* safari viewport bug fix */
// 	min-height: -webkit-fill-available;

// 	width: 100%;
// 	overflow-x: hidden;

// 	// Prevents scroll from happening when hamburger menu is open
// 	&:has(.hamburger-menu #control:checked) {
// 		overflow: hidden;
// 	}
// }

// html {
// 	font-size: 18px;
// 	width: 100%;

// 	&.smooth-scroll {
// 		scroll-behavior: smooth;
// 		body {
// 			scroll-behavior: smooth;
// 		}
// 	}
// }

// #svelte-root {
// 	height: 100%;
// 	position: relative;
// }

* {
	&:focus-visible {
		outline: 2px dashed var(--theme--color-accent);
		outline-offset: 4px;
	}
}
