<script async defer data-domain="fantinel.dev" src="https://stats.fantinel.dev/js/index.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

<script>
  if (plausible) {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      plausible('Dark Mode Enabled');
    } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
      plausible('Light Mode Enabled');
    } else {
      plausible('No Dark/Light Preference');
    }
  }
</script>