<footer>
  <div class="footer-content">
    <span class="copyright">
      © {{ 'now' | date: "%Y" }} Matheus Fantinel. Made in Brazil.
    </span>
    <ul class="social">
      <li>{% include svg-icons/telegram.html %}</li>
      <li>{% include svg-icons/twitter.html %}</li>
      <li>{% include svg-icons/github.html %}</li>
      <li>{% include svg-icons/linkedin.html %}</li>
      <li>{% include svg-icons/email.html %}</li>
      <li>{% include svg-icons/rss.html %}</li>
    </ul>
  </div>

  <div class="logomark" title="Boink!">
    {% include /svg-icons/logos/Logomark.svg %}
  </div>
</footer>

<script type="text/javascript">
  var logomarkElement = document.querySelector('.logomark');
  logomarkElement.addEventListener('mouseenter', (event) => {
    webBoink();    
  });
  logomarkElement.addEventListener('click', (event) => {
    webBoink();    
  });

  function webBoink() {
    logomarkElement.classList.add('boink');

    setTimeout(() => {
      logomarkElement.classList.remove('boink');
    }, 500);
  }
</script>