<header>
  <div class="header-content">
    <ul class="links animated fadeInUp delay-2">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="https://fantinel.dev/resume" target="_blank">Resume</a></li>
    </ul>
    <ul class="social animated fadeInUp delay-3">
      <li>{% include svg-icons/telegram.html %}</li>
      <li>{% include svg-icons/twitter.html %}</li>
      <li>{% include svg-icons/linkedin.html %}</li>
      <li>{% include svg-icons/github.html %}</li>
    </ul>
  </div>
</header>
