    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5.0'>
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#95CACA">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=dLXyx2PjAj">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=dLXyx2PjAj">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=dLXyx2PjAj">
    <link rel="manifest" href="/site.webmanifest?v=dLXyx2PjAj">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=dLXyx2PjAj" color="#0ca4a5">
    <link rel="shortcut icon" href="/favicon.ico?v=dLXyx2PjAj">
    <meta name="msapplication-TileColor" content="#dffcfd">
    <meta name="theme-color" content="#dffcfd">
    
    {% if page.tags %}
    <meta name="keywords" content='{{page.tags | join: ", "}}, Matheus Fantinel, Matt Fantinel, Web Development, Software Engineer, Open Source'>
    {% else %}
    <meta name="keywords" content='Matheus Fantinel, Matt Fantinel, Web Development, Software Engineer, Open Source'>
    {% endif %}
    
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="Matt Fantinel" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@Matt_Fantinel" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }} - Matt Fantinel" />
    <meta name="twitter:title" content="{{ page.title }} - Matt Fantinel" />
    {% else %}
    <meta property="og:title" content="{{ site.title }}" />
    <meta name="twitter:title" content="{{ site.title }}" />
    {% endif %}

    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/{{ page.image }}" />
    <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="{{ site.url }}/images/site-preview.png" />
    <meta name="twitter:image" content="{{ site.url }}/images/site-preview.png" />
    {% endif %}