{% assign alt = include.alt %}
{% assign figcaption = include.figcaption %}
{% assign path = include.path %}
{% assign filename = include.filename %}
{% assign class = include.class %}

{% assign imageSrc = '/optimized-images/' | append: path | append: '/' | append: filename %}

<picture>
  <source
    srcset="{{ imageSrc }}.avif"
    type="image/avif"
  />
  <source
    srcset="{{ imageSrc }}.webp"
    type="image/webp"
  />
  <img class="{{ class }}" src="{{ imageSrc }}.png" alt="{{ alt }}" loading="lazy" decoding="async">

  {% if figcaption %}
  <figcaption>{{ figcaption }}</figcaption>
  {% endif %}
</picture>