---
import PagefindSearchResults from "@components/organisms/PagefindSearchResults";
import GenericHero from "@components/organisms/GenericHero";
import BaseLayout from "@layouts/BaseLayout.astro";
import PagefindSearchField from "@components/molecules/PagefindSearchField";

export const prerender = false

const searchParams = new URL(Astro.request.url).searchParams;
const search = searchParams.get('search');
---

<BaseLayout title="Search" disableClientRouter>
  <div class="p-search full-width u-content-grid">
    <div class="p-search__hero full-width">
      <GenericHero title={`Searching for ${search ? `“${search}”...` : '... nothing?'}`} client:load transition:persist transition:name="search-hero">
        <PagefindSearchField value={search} client:load style="width: 280px;" />
      </GenericHero>
    </div>

    <div class="p-search__results">
      <PagefindSearchResults client:load query={search} />
    </div>
  </div>
</BaseLayout>
