---
import PagefindSearchResults from "@components/organisms/PagefindSearchResults";
import SimpleHero from "@components/organisms/SimpleHero";
import BaseLayout from "@layouts/BaseLayout.astro";
import PagefindSearchField from "@components/molecules/PagefindSearchField";

export const prerender = false

const searchParams = new URL(Astro.request.url).searchParams;
const search = searchParams.get('search');
---

<BaseLayout title="Search" disableClientRouter>
  <div class="p-search full-width u-content-grid">
    <div class="p-search__hero full-width">
      <SimpleHero title={`Searching for ${search ? `“${search}”...` : '... nothing?'}`} client:load transition:persist>
        <PagefindSearchField value={search} client:load style="width: 280px;" transition:persist transition:name="test" />
      </SimpleHero>
    </div>

    <div class="p-search__results">
      <PagefindSearchResults client:load query={search} />
    </div>
  </div>
</BaseLayout>
