---
import PagefindSearchResults from "@components/molecules/PagefindSearchResults";
import SimpleHero from "@components/organisms/SimpleHero";
import BaseLayout from "@layouts/BaseLayout.astro";

export const prerender = false;

const searchParams = new URL(Astro.request.url).searchParams;
const search = searchParams.get('search');
---

<BaseLayout title="Search">
  <SimpleHero title={`Searching for "${search}"`} />

  <div class="u-container">
    <PagefindSearchResults client:load query={search} />
  </div>
</BaseLayout>
