---
import { getCollection } from "astro:content";

const posts = await getCollection('blog');
const hiddenPosts = await getCollection('blog', ({ data }) => {
  return data.hidden;
});
---
<h1>Blog posts</h1>

<h2>Hidden posts</h2>
<ul>
  {hiddenPosts.map(post => (
    <li>
      <a href={`/blog/${post.data.slug}`}>{post.data.title}</a>
    </li>
  ))}
</ul>

<h2>All posts</h2>
<ul>
  {posts.map(post => (
    <li>
      <a href={`/blog/${post.data.slug}`}>{post.data.title}</a>
    </li>
  ))}
</ul>