---
layout: default
---

{% include base/hero.html %}

<div class="page-content blog-post-page">
  {% include base/header.html %}

  <div id="main" role="main" class="container">
    <div class="card animated fadeInUpSmall delay-1">
      <div class="content">
        <a href="/blog">← Back to blog</a>
        <br>
        <h1 class="title">
          {{ page.title }}
        </h1>
        <small class="published-date">
          Published on {{ page.date | date_to_string }}
        </small>
        <ul class="tags">
          {% for tag in page.tags %}
          <li>
            <span class="tag">
              {{ tag }}
            </span>
          </li>
          {% endfor %}
        </ul>

        <article>
          <img src="{{page.image}}" alt="Cover image for this article">
          {{ content }}
        </article>

        <div class="footer">
          Saw something wrong? Have a tip? Write to me at <a href="mailto:matfantinel@gmail.com">matfantinel@gmail.com</a> and let me know!
          <br>
          You can also send a message over <a href="https://telegram.me/matfantinel">on my Telegram</a> if you'd like.
        </div>
      </div>
    </div>
  </div>
</div>
