---
layout: default
---

{% include blog/posts/hero.html image=page.image %}

<div class="page-content blog-post-page">
  {% include base/header.html %}

  <div id="main" role="main" class="container">
    <div class="card animated fadeInUpSmall delay-4">
      <div class="content">
        <h1 class="title">
          {{ page.title }}
        </h1>
        <ul class="tags">
          {% for tag in page.tags %}
          <li>
            <span class="tag">
              {{ tag }}
            </span>
          </li>
          {% endfor %}
        </ul>

        <article>
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>
