<section class="about animated fadeIn animate-when-visible">
  <div class="avatar-container">
    {% include base/smart-image.html 
      filename="avatar"
      alt="Avatar"
      class="avatar" %}
  </div>
  <div class="card large">
    <div class="content">
      <h3 class="greetings">Hello, I'm Matt.</h3>

      <p class="introduction">
        I am a software engineer from Brazil. My deal is building fast, beautiful and high-quality web apps, but I have
        also worked on mobile and desktop apps (it was pretty fun!). Whenever possible, I work with Open Source Software
        (OSS). You can check out my OSS projects below, as well as whatever I've been rambling about on my blog.
      </p>

      <div class="info-container">
        <div class="bullet-list">
          <ul>
            <li>{% include svg-icons/about/spider-web.svg %} Front-End Web Developer</li>
            <li>{% include svg-icons/about/sorcerer.svg %} Open Sourcerer</li>
            <li>{% include svg-icons/about/pointing-right.svg %} Bullet List Enthusiast</li>
          </ul>
        </div>
        <div class="buzzwords">
          <span class="subtitle">I am quite good at a few things:</span>
          <ul class="tags">
            <li>
              <span class="tag"> Angular </span>
            </li>
            <li>
              <span class="tag"> Vue(X) </span>
            </li>
            <li>
              <span class="tag"> Ionic </span>
            </li>
            <li>
              <span class="tag"> Electron </span>
            </li>
            <li>
              <span class="tag"> (S)CSS </span>
            </li>
            <li>
              <span class="tag"> JavaScript </span>
            </li>
            <li>
              <span class="tag"> TypeScript </span>
            </li>
            <li>
              <span class="tag"> Building UIs </span>
            </li>
            <li>
              <span class="tag"> Web Components </span>
            </li>
            <li>
              <span class="tag"> .NET </span>
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <ul class="social">
        <li>{% include svg-icons/telegram.html %}</li>
        <li>{% include svg-icons/twitter.html %}</li>
        <li>{% include svg-icons/github.html %}</li>
        <li>{% include svg-icons/linkedin.html %}</li>
        <li>{% include svg-icons/email.html %}</li>
      </ul>
    </div>
  </div>
</section>
