<section class="about animated fadeInUpSmall delay-4">
  <div class="avatar-container">
    <img class="avatar" alt="Avatar" src="https://www.gravatar.com/avatar/d3e0755978911619f8979bef9d843b44?s=250&d=mm&r=x" />
  </div>
  <div class="card large">
    <div class="content">

      <h3 class="greetings">Hello, I'm Matt.</h3>

      <div class="info-container">
        <div class="bullet-list">
          <ul>
            <li>
              {% include svg-icons/about/spider-web.svg %}
              Front-End Web Developer
            </li>
            <li>
              {% include svg-icons/about/sorcerer.svg %}
              Open Sourcerer
            </li>
            <li>
              {% include svg-icons/about/pointing-right.svg %}
              Bullet List Enthusiast
            </li>
          </ul>
        </div>
        <div class="buzzwords">
          <span class="subtitle">I am good at a few things:</span>
          <ul class="tags">
            <li>
              <a class="tag">
                JavaScript
              </a>
            </li>
            <li>
              <a class="tag">
                TypeScript
              </a>
            </li>
            <li>
              <a class="tag">
                Angular
              </a>
            </li>
            <li>
              <a class="tag">
                Vue(X)
              </a>
            </li>
            <li>
              <a class="tag">
                Ionic
              </a>
            </li>
            <li>
              <a class="tag">
                Electron
              </a>
            </li>
            <li>
              <a class="tag">
                Web Components
              </a>
            </li>
            <li>
              <a class="tag">
                (S)CSS
              </a>
            </li>
            <li>
              <a class="tag">
                .NET
              </a>
            </li>
          </ul>
        </div>
      </div>

      <hr class="full-bleed">

      <p class="introduction">
        I am a software engineer from Brazil specializing in building fast, beautiful and high-quality web apps. I also
        enjoy Open Source software, writing on my blog occasionally, and a little bit of gaming.
      </p>
    </div>
  </div>
</section>
