<section class="blog-preview animated fadeIn delay-7">
  <h1>
    Blog
  </h1>
  <h4>
    See what I've been writing about recently
  </h4>

  <div class="cards-list">
    {% assign post=site.posts.first %}
    {% include blog/blog-post-card.html post=post hideExcerpt=true %}

    {% assign post=site.posts[1] %}
    {% include blog/blog-post-card.html post=post hideExcerpt=true %}

    <a href="{{ site.baseurl }}/blog" class="card hoverable see-more">
      {% include svg-icons/more-svg-only.html %}
      See more blog posts
    </a>
  </div>
</section>
