<section class="projects animateWhenVisible">
  <h1>
    Open Source Projects
  </h2>
  <h3>
    Some open source projects that I've been working on recently
  </h3>
  <div class="cards-list">
    <div class="card large hoverable animateWhenVisible">
      <div class="image" style="background-image: url(images/projects/pocket-companion.jpg);"></div>
      <div class="content">
        <h1 class="title">
          Pocket Companion

          <div class="links">
            <a
              href="https://github.com/matfantinel/acnh-pocket-companion"
              target="_blank"
              rel="noopener"
              title="Open project on GitHub"
              >{% include svg-icons/github-svg-only.html %}</a
            >
            <a href="https://pocketcompanion.fantinel.dev" target="_blank" rel="noopener" title="Open project website"
              >{% include svg-icons/external-link-svg-only.html %}</a
            >
          </div>
        </h1>
        <p>
          A companion app for Animal Crossing New Horizons. Manage your Island, tasks and Critterpedia with this handy web app.
        </p>

        <ul class="tags">
          <li>
            <a class="tag">
              Ionic
            </a>
          </li>
          <li>
            <a class="tag">
              Angular
            </a>
          </li>
          <li>
            <a class="tag">
              PWA
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card medium hoverable animateWhenVisible">
      <div class="image" style="background-image: url(images/projects/moneta.png);"></div>
      <div class="content">
        <h1 class="title">
          Moneta

          <div class="links">
            <a href="https://github.com/matfantinel/moneta" target="_blank" rel="noopener" title="Open project on GitHub"
              >{% include svg-icons/github-svg-only.html %}</a
            >
            <a
              href="https://appcenter.elementary.io/com.github.matfantinel.moneta/"
              target="_blank"
              rel="noopener"
              title="Open project website"
              >{% include svg-icons/external-link-svg-only.html %}</a
            >
          </div>
        </h1>
        <p>
          A desktop applet that displays currency exchange rates for elementaryOS with Vala and GTK. This is a fork of an existing app that had another purpose, and another example of why Free Software rocks!
        </p>

        <ul class="tags">
          <li>
            <a class="tag">
              Vala
            </a>
          </li>
          <li>
            <a class="tag">
              GTK
            </a>
          </li>
          <li>
            <a class="tag">
              Native
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card medium hoverable animateWhenVisible">
      <div class="image" style="background-image: url(images/projects/reminduck.png);"></div>
      <div class="content">
        <h1 class="title">
          Reminduck

          <div class="links">
            <a href="https://github.com/matfantinel/reminduck" target="_blank" rel="noopener" title="Open project on GitHub"
              >{% include svg-icons/github-svg-only.html %}</a
            >
            <a
              href="https://appcenter.elementary.io/com.github.matfantinel.reminduck/"
              target="_blank"
              rel="noopener"
              title="Open project website"
              >{% include svg-icons/external-link-svg-only.html %}</a
            >
          </div>
        </h1>
        <p>
          A simple reminder app made for elementaryOS with Vala and GTK. This was my first experience developing native
          applications for GNU/Linux.
        </p>

        <ul class="tags">
          <li>
            <a class="tag">
              Vala
            </a>
          </li>
          <li>
            <a class="tag">
              GTK
            </a>
          </li>
          <li>
            <a class="tag">
              Native
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card large hoverable animateWhenVisible">
      <div class="image" style="background-image: url(images/projects/personal-website.png);"></div>
      <div class="content">
        <h1 class="title">
          Personal Website

          <div class="links">
            <a
              href="https://github.com/matfantinel/matfantinel.github.io"
              target="_blank"
              rel="noopener"
              title="Open project on GitHub"
              >{% include svg-icons/github-svg-only.html %}</a
            >
            <a href="https://matfantinel.github.io" target="_blank" rel="noopener" title="Open project website"
              >{% include svg-icons/external-link-svg-only.html %}</a
            >
          </div>
        </h1>
        <p>
          The website you're seeing right now. Designed to be pretty, simple, and fast. Close to no JS and no CSS libraries.
        </p>

        <ul class="tags">
          <li>
            <a class="tag">
              Jekyll
            </a>
          </li>
          <li>
            <a class="tag">
              HTML
            </a>
          </li>
          <li>
            <a class="tag">
              SCSS
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
