<section class="projects animate-when-visible">
  <h1>
    Open Source Projects
  </h2>
  <h4>
    Some open source projects that I've been working on recently
  </h4>
  <div class="cards-list">
    <div class="card large hoverable">
      <div class="image">
        {% include base/smart-image.html 
          path="projects/" 
          filename="pocket-companion"
          alt="Screenshot of the Pocket Companion app" %}
      </div>
      <div class="content">
        <h1 class="title">
          Pocket Companion

          <div class="links">
            <a
              href="https://github.com/matfantinel/acnh-pocket-companion"
              target="_blank"
              rel="noopener"
              title="Open project on GitHub"
              >{% include svg-icons/github-svg-only.html %}</a
            >
            <a href="https://pocketcompanion.fantinel.dev" target="_blank" rel="noopener" title="Open project website"
              >{% include svg-icons/external-link-svg-only.html %}</a
            >
          </div>
        </h1>
        <p>
          A companion app for Animal Crossing New Horizons. Manage your Island, tasks and Critterpedia with this handy web app.
        </p>

        <ul class="tags">
          <li>
            <span class="tag">
              Ionic
            </span>
          </li>
          <li>
            <span class="tag">
              Angular
            </span>
          </li>
          <li>
            <span class="tag">
              PWA
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card medium hoverable">
      <div class="image">
        {% include base/smart-image.html 
          path="projects/" 
          filename="moneta"
          alt="Screenshot of the Moneta app" %}
      </div>
      <div class="content">
        <h1 class="title">
          Moneta

          <div class="links">
            <a href="https://github.com/matfantinel/moneta" target="_blank" rel="noopener" title="Open project on GitHub"
              >{% include svg-icons/github-svg-only.html %}</a
            >
            <a
              href="https://appcenter.elementary.io/com.github.matfantinel.moneta/"
              target="_blank"
              rel="noopener"
              title="Open project website"
              >{% include svg-icons/external-link-svg-only.html %}</a
            >
          </div>
        </h1>
        <p>
          A desktop applet that displays currency exchange rates for elementaryOS with Vala and GTK. This is a fork of an existing app that had another purpose, and another example of why Free Software rocks!
        </p>

        <ul class="tags">
          <li>
            <span class="tag">
              Vala
            </span>
          </li>
          <li>
            <span class="tag">
              GTK
            </span>
          </li>
          <li>
            <span class="tag">
              Linux
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card medium hoverable">
      <div class="image">
        {% include base/smart-image.html 
          path="projects/" 
          filename="reminduck"
          alt="Screenshot of the Reminduck app" %}
      </div>
      <div class="content">
        <h1 class="title">
          Reminduck

          <div class="links">
            <a href="https://github.com/matfantinel/reminduck" target="_blank" rel="noopener" title="Open project on GitHub"
              >{% include svg-icons/github-svg-only.html %}</a
            >
            <a
              href="https://appcenter.elementary.io/com.github.matfantinel.reminduck/"
              target="_blank"
              rel="noopener"
              title="Open project website"
              >{% include svg-icons/external-link-svg-only.html %}</a
            >
          </div>
        </h1>
        <p>
          A simple reminder app made for elementaryOS with Vala and GTK. This was my first experience developing native
          applications for GNU/Linux.
        </p>

        <ul class="tags">
          <li>
            <span class="tag">
              Vala
            </span>
          </li>
          <li>
            <span class="tag">
              GTK
            </span>
          </li>
          <li>
            <span class="tag">
              Linux
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card large hoverable">
      <div class="image">
        {% include base/smart-image.html 
          path="projects/" 
          filename="personal-website"
          alt="Screenshot of this website" %}
      </div>
      <div class="content">
        <h1 class="title">
          Personal Website

          <div class="links">
            <a
              href="https://github.com/matfantinel/matfantinel.github.io"
              target="_blank"
              rel="noopener"
              title="Open project on GitHub"
              >{% include svg-icons/github-svg-only.html %}</a
            >
            <a href="https://matfantinel.github.io" target="_blank" rel="noopener" title="Open project website"
              >{% include svg-icons/external-link-svg-only.html %}</a
            >
          </div>
        </h1>
        <p>
          The website you're seeing right now. Designed to be pretty, simple, and fast. Close to no JS and no CSS libraries.
        </p>

        <ul class="tags">
          <li>
            <span class="tag">
              Jekyll
            </a>
          </li>
          <li>
            <span class="tag">
              HTML
            </a>
          </li>
          <li>
            <span class="tag">
              SCSS
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
