<section class="work-experience animateWhenVisible">
  <h1>Work Experience</h1>

  <div id="swipe-view" onscroll="handleScroll()">
    <div class="card swipe-item">
      <div class="content animated fadeIn">
        <h1 class="title">Dynasty Sports & Entertainment</h1>
        <span class="timeframe">Software Engineer | 2019 ~ Now</span>
        <ul>
          <li>
            Development and maintenance of a Vue front-end, aiming to solve current pains and create new and better
            processes;
          </li>
          <li>Working with Azure Service Bus messages to execute tasks on demand;</li>
          <li>Automation of previously manual processes with Selenium, improving speed and capacity;</li>
        </ul>
      </div>
    </div>
    <div class="card swipe-item">
      <div class="content animated fadeIn">
        <h1 class="title">SIGE Cloud</h1>
        <span class="timeframe">Software Developer | 2017 ~ 2019</span>
        <ul>
          <li>Bringing complex designs to reality, based on visual mockups and prototypes;</li>
          <li>Analysis, planning and development of a web-based ERP software;</li>
          <li>
            Participating in the creation of new solutions to meet the market's needs, such as mobile and desktop apps;
          </li>
          <li>Development of internal tools to improve the company's customer support service;</li>
        </ul>
      </div>
    </div>
    <div class="card swipe-item">
      <div class="content animated fadeIn">
        <h1 class="title">Promob Software Solutions</h1>
        <span class="timeframe">Software Developer | 2014 ~ 2017</span>
        <ul>
          <li>Maintenance and modernization of the company's services portal;</li>
          <li>Development and maintenance of many APIs used by other development teams;</li>
          <li>
            Refactoring of the company’s internal software structure, according to changes in the business model;
          </li>
          <li>Integration with third-party CRM, HelpDesk and ERP softwares;</li>
        </ul>
      </div>
    </div>
    <div class="arrow prev" onclick="scrollCards('p')">
      {% include svg-icons/chevron-svg-only.html %}
    </div>
    <div class="arrow next" onclick="scrollCards('n')">
      {% include svg-icons/chevron-svg-only.html %}
    </div>
  </div>
</section>

<script type="text/javascript">
  var scrollEndedTimer = null;
  checkIfArrowsShouldHide();

  function handleScroll() {
    if (scrollEndedTimer !== null) {
      clearTimeout(scrollEndedTimer);
    }
    scrollEndedTimer = setTimeout(function () {
      checkIfArrowsShouldHide();
    }, 150);
  }
  function scrollCards(direction) {
    const width = document.querySelector('.swipe-item').offsetWidth;

    document.querySelector('#swipe-view').scrollBy({
      top: 0,
      left: direction == 'p' ? width * -1 : width,
      behavior: 'smooth',
    });
  }

  function checkIfArrowsShouldHide() {
    const numberOfCards = document.getElementsByClassName('swipe-item').length;
    let swipeView = document.querySelector('#swipe-view');
    const offsetForLastCard = (swipeView.scrollWidth / numberOfCards) * (numberOfCards - 1) - 50;

    if (swipeView.scrollLeft === 0) {
      document.querySelector('.arrow.prev').style.display = 'none';
    } else {
      document.querySelector('.arrow.prev').style.display = 'block';
    }
    if (swipeView.scrollLeft >= offsetForLastCard) {
      document.querySelector('.arrow.next').style.display = 'none';
    } else {
      document.querySelector('.arrow.next').style.display = 'block';
    }
  }
</script>
