---
import CoolLinkCard from '@components/molecules/CoolLinkCard';
import type { CoolLink } from '@schemas/cool-link';
import striptags from 'striptags';
import BaseLayout from './BaseLayout.astro';
import { coolLinkToCoolLinkCardProps } from '@utils/prop-mapping';
import Button from '@components/atoms/Button';
import PostsTimeline from '@components/organisms/PostsTimeline';

interface Props {
  link: CoolLink;
  latestTimelineEntries?: any[];
}

const { link, latestTimelineEntries }: Props = Astro.props;
---

<BaseLayout
  title={link.title || 'Cool Link'}
  keywords={link.title || 'Cool Link'}
  description={striptags(link.content || '')}
  slug={`cool-links/${link.slug}`}
  publishedDate={link.savedOn}
>
  <div class='l-cool-link u-content-grid'>
    <div class='l-cool-link__container' data-pagefind-body>
      <h1 class='l-cool-link__title'>Cool Link: {link.title}</h1>

      <CoolLinkCard class='l-cool-link__link' {...coolLinkToCoolLinkCardProps(link)} />

      <div class="l-cool-link__about u-markdown" data-pagefind-ignore>
        <h2 class="u-h4">About Cool Links</h2>
        <p>Cool links are a collection of interesting things I find around the web. They can range from fun dumb websites to deep thought-provoking essays, or more commonly something in between. The feed here updates frequently, and I compile everything into a blog post on the last day of each month.</p>
        <Button href="/cool-links">View all cool links</Button>
        {latestTimelineEntries?.length > 0 && (
          <p>Or check out other stuff I've posted recently:</p>
          <hr />
        )}
      </div>

      {
        latestTimelineEntries?.length > 0 && (
          <aside data-pagefind-ignore>
            <PostsTimeline
              bottomButton={{
                text: 'View more',
                href: '/archive',
              }}
              postGroups={latestTimelineEntries}
              client:load
            />
          </aside>
          )
        }
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
 @use '/src/styles/mixins';

  :root:has(.l-cool-link) {
    @include mixins.set-accent-color('cool-link');
  }

  .l-cool-link {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-xl);

      padding-block: var(--spacing-xl);
    }

    &__title {
      text-align: center;
      text-wrap: balance;
      color: var(--t-v6--accent);
    }

    &__about {
      max-width: 580px;
      align-items: flex-start;

      hr {
        width: 100%;
        border-top-style: dashed;
      }

      :global(.a-button) {
        align-self: center;
      }
    }
  }
</style>
