---
import Pagination from '@components/molecules/Pagination';
import PhotographyCards from '@components/molecules/PhotographyCards';
import ArchiveHero from '@components/organisms/ArchiveHero';
import metaConfig from '@public/cms/meta.yml';
import type { Photography } from '@schemas/photography';
import type { SiteMeta } from '@schemas/site-meta';
import BaseLayout from './BaseLayout.astro';
const siteMeta: SiteMeta = metaConfig;

interface Props {
  photographies: Photography[];
  currentPage: number;
  totalPages: number;
}

const { photographies, currentPage, totalPages }: Props = Astro.props;

const paginationBaseUrl = '/photography';
---

<BaseLayout
  title='Photography'
  image={siteMeta.baseUrl + '/cms/media/articles/photography-preview.png'}
  description="I'm no professional, but sometimes I like to capture the world around me. Sometimes, the photos turn out pretty nice."
  hasHeaderBackground
>
  <div class='l-photography-archive'>
    <div class='l-photography-archive__container' data-pagefind-body>
      <ArchiveHero
        class='l-photography-archive__hero'
        title='Photography'
        body="I'm no professional, but sometimes I like to capture the world around me. Sometimes, the photos turn out pretty nice."
      />

      <div class='l-photography-archive__content-wrapper u-container'>
        {!photographies.length && <p class='u-h4'>No photography posts found</p>}

        {photographies.length > 0 && (
          <PhotographyCards {photographies} client:load />
        )}

        {
          totalPages > 1 && (
            <Pagination
              class='l-photography-archive__pagination'
              currentPage={currentPage}
              totalPages={totalPages}
              baseUrl={paginationBaseUrl}
            />
          )
        }
      </div>
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
  @use '/src/styles/breakpoints';

  :root {
    &:has(.l-photography-archive) {
      --theme--color-accent: var(--theme--color-photography);
      --theme--color-accent-rgb: var(--theme--color-photography-rgb);
      --theme--color-accent-contrast: var(--theme--color-photography-contrast);
      --theme--color-accent-shade: var(--theme--color-photography-shade);
      --theme--color-accent-tint: var(--theme--color-photography-tint);
      --theme--color-accent-glow: var(--theme--color-photography-glow);
    }

    &[data-theme='dark'],
    &[data-theme='auto'] {
      &:has(.l-photography-archive) {
        --theme--color-accent: var(--theme--color-photography);
        --theme--color-accent-rgb: var(--theme--color-photography-rgb);
        --theme--color-accent-contrast: var(--theme--color-photography-contrast);
        --theme--color-accent-shade: var(--theme--color-photography-shade);
        --theme--color-accent-tint: var(--theme--color-photography-tint);
        --theme--color-accent-glow: var(--theme--color-photography-glow);
      }
    }
  }

  .l-photography-archive {
    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxl);

      @include breakpoints.for-phone-only {
        gap: var(--spacing-xl);
      }
    }

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg);
      max-width: 2160px;
    }
  }
</style>
