---
import Pagination from '@components/molecules/Pagination';
import ArchiveHero from '@components/organisms/ArchiveHero';
import PostsTimeline from '@components/organisms/PostsTimeline/PostsTimeline.svelte';
import type { BlogPost } from '@schemas/blog';
import type { CoolLink } from '@schemas/cool-link';
import type { Photography } from '@schemas/photography';
import type { QuickReview } from '@schemas/quick-review';
import BaseLayout from './BaseLayout.astro';

interface Props {
  groups: { date: string, posts: { type: string, data: BlogPost | QuickReview | CoolLink | Photography }[] }[];
  currentPage: number;
  totalPages: number;
  totalPosts: number;
}

const {
  groups,
  currentPage,
  totalPages,
  totalPosts,
}: Props = Astro.props;

---

<BaseLayout
  title='Timeline'
  hasHeaderBackground
>
  <div class='l-timeline-archive'>
    <div class='l-timeline-archive__container'>
      <ArchiveHero
        class='l-timeline-archive__hero'
        title='Chronological Feed'
        body="A chronological view of *everything* I've posted here, since the beginning of time (or the blog's inception, whichever comes first)."
      />

      <div class='l-timeline-archive__content-wrapper'>
        <PostsTimeline
          postGroups={groups}
          client:load
        />

        {
          totalPages > 1 && (
            <Pagination
              class='l-timeline-archive__pagination'
              currentPage={currentPage}
              totalPages={totalPages}
              baseUrl='/timeline'
            />
          )
        }
      </div>
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
  @use '/src/styles/breakpoints';
  @use '/src/styles/typography';

  :root {
    &:has(.l-timeline-archive) {
      --theme--color-accent: var(--theme--color-timeline);
      --theme--color-accent-rgb: var(--theme--color-timeline-rgb);
      --theme--color-accent-contrast: var(--theme--color-timeline-contrast);
      --theme--color-accent-shade: var(--theme--color-timeline-shade);
      --theme--color-accent-tint: var(--theme--color-timeline-tint);
      --theme--color-accent-glow: var(--theme--color-timeline-glow);
    }

    &[data-theme='dark'],
    &[data-theme='auto'] {
      &:has(.l-timeline-archive) {
        --theme--color-accent: var(--theme--color-timeline);
        --theme--color-accent-rgb: var(--theme--color-timeline-rgb);
        --theme--color-accent-contrast: var(--theme--color-timeline-contrast);
        --theme--color-accent-shade: var(--theme--color-timeline-shade);
        --theme--color-accent-tint: var(--theme--color-timeline-tint);
        --theme--color-accent-glow: var(--theme--color-timeline-glow);
      }
    }
  }

  .l-timeline-archive {
    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxl);

      @include breakpoints.for-phone-only {
        gap: var(--spacing-xl);
      }
    }

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg);
    }
  }
</style>
